[2019-01-22 00:34] timacdonald commented on #470
Looks like you have the class name wrong. `XeroPHP\Models\Accounting\Address` is the class, give that a go and see if it works.

[2019-01-22 02:38] DPineault opened #471 "How to trap and report Errors"
I'm trying to create Invoices and in a general sense I have it functional, but now I need to harden the code by handling errors that may arise and I can't seem to understand how to accomplish this.

My basic code (there is more but not truly relevant to the current question - just adding Line Items, ...)

            $invoice = new Invoice($xero);
            $invoice->setType(INVOICE::INVOICE_TYP

[2019-01-22 03:39] timacdonald commented on #471
Hey @DPineault I've just created a Pull Request to add documentation about this, as you are correct - there is no mention of error handling.

Until the PR gets merged into this repo (if it is accepted) you can look at my branch to see the documentation I've added: https://github.com/timacdonald/xero-php/tree/error_docs#handling-errors

[2019-01-22 13:41] DPineault commented on #471
Thank you for the reply.

I have tried, but still can't seem to get it working?

[code]

[2019-01-22 15:21] mogilvie commented on #471
Correct, you need either a use statement to allow the class shorthand to work, or a fully qualified class name in the catch.

[2019-01-22 15:26] DPineault commented on #471
Any chance you could give me an example to learn from (still very new to this)?

[2019-01-23 01:34] DPineault commented on #471
Thank you.  It works!

For anyone else that is trying to do the same below is a very simple example.
[code]
and obviously you can build upon that for all the different exceptions.

[2019-01-23 03:58] timacdonald commented on #471
Glad to hear @DPineault

You can close this issue if you think you got it sorted.

[2019-01-23 08:27] Mutondi opened #473 "Could not resolve host: api.xero.com"
Hi there I am getting a could not resolve host error when I try to post an invoice to the xero api

[2019-01-23 09:09] timacdonald commented on #473
Sounds like you machine is unable to communicate with the Xero API endpoint.

What happens if you open up a web browser and try to visit: https://api.xero.com ?

[2019-01-23 09:32] wiki99 opened #474 "unable to fetch Address And phone"
Hi calcinai
 I am getting problem in Xero php sdk library  regarding address and phone and i am unable to create Address and phone object can you help me out from this issue how fetch address and phone from sdk xero api

[2019-01-23 09:41] wiki99 commented on #423
<?php

if(!defined('sugarEntry') || !sugarEntry) die('Not A Valid Entry Point');
ini_set('display_errors',1);

require 'vendor/autoload.php';

$xero = new \XeroPHP\Application\PrivateApplication($config);

	//print_r($Contactobj);
//$contacts = $xero->load(Contact::class)->execute();
echo "<pre>";

//print_r($accounts);

//$contacts =$xero->load('Accounting\\Contact')->execute();

	$address=$xero-

[2019-01-23 10:13] DPineault commented on #471
May I further this discussion to delve a little deeper into the Bad Request exception.  [The documentation states](https://developer.xero.com/documentation/api/http-response-codes)

Right now in my catch I have
`echo $exception->getMessage();`
How can I get the Type and ValidationErrors details?

[2019-01-23 10:31] mogilvie commented on #471
The payloads of the exception can be different depending on the exception class and the API that you're querying.
You can use var_dump($exception) to view the exception structure and content.
Often the responses from an API are json encoded. So you need to find the method that returns the data you want, then json_decode() to convert the string to an array. Use regular array manipulation to get the

[2019-01-23 10:37] PrakharSambhav1 opened #475 "Unable to use for Public applications"
"Token has not been provided" Error is displayed when ever i try to execute. Please make a CRUD example for public examples if possible.
exception:"XeroPHP\Remote\Exception\UnauthorizedException"
file:"/var/www/html/hoops-crm/dev/backend/vendor/calcinai/xero-php/src/XeroPHP/Remote/Response.php"
message:"Token has not been provided"

[2019-01-23 11:08] wiki99 commented on #474
on get address it return phone object and on phone it return address obj how use it?

[2019-01-23 11:27] wiki99 opened #476 "Address not display on account/contact"
if(!defined('sugarEntry') || !sugarEntry) die('Not A Valid Entry Point');
ini_set('display_errors',1);
require 'vendor/autoload.php';
$xero = new \XeroPHP\Application\PrivateApplication($config);

echo "<pre>";
$contacts =$xero->load('Accounting\\Contact')->execute();

foreach($contacts as $contact)
{

	$add=$xero->load(Address::class)->execute();
	print_r($contact->getAddresses($add->getAddressLi

[2019-01-23 11:32] wiki99 commented on #475
hii
did you try this file:///var/www/html/xerophp/foldername/publickey.pem kindly make absolute path for your unix system

[2019-01-23 11:35] wiki99 commented on #397
i got same issue and unable to find it in developer docs unable to fetch address because account/Address return null an empty object for Address and Phone both

if(!defined('sugarEntry') || !sugarEntry) die('Not A Valid Entry Point');
ini_set('display_errors',1);
require 'vendor/autoload.php';
$xero = new \XeroPHP\Application\PrivateApplication($config);

echo "<pre>";
$contacts =$xero->load('Acco

[2019-01-23 11:43] Mutondi commented on #473
When I do that. it leads me to the xero accounting login page. been trying to trouble shoot the solution to no luck , it has been communicating and posting fine all week. I guess this is a network issue ?

[2019-01-23 11:45] Mutondi commented on #473
`<br />
<b>Fatal error</b>:  Uncaught XeroPHP\Remote\Exception: Curl error: Failed to connect to api.xero.com port 443: Timed out in C:\xampp2\htdocs\helloapi\src\XeroPHP\Remote\Request.php:125
Stack trace:
#0 C:\xampp2\htdocs\helloapi\src\XeroPHP\Remote\Query.php(287): XeroPHP\Remote\Request-&gt;send()
#1 C:\xampp2\htdocs\helloapi\private.php(71): XeroPHP\Remote\Query-&gt;execute()
#2 C:\xampp2\h

[2019-01-23 20:16] timacdonald commented on #474
Can you post a full code snippet? The above seems like it has been cut off.

[2019-01-23 20:23] timacdonald commented on #476
@wiki99 you've already open an issue about this: https://github.com/calcinai/xero-php/issues/474

Please close this issue.

[2019-01-24 03:34] Mutondi commented on #473
![image](https://user-images.githubusercontent.com/28397181/51652816-a29a7680-1f99-11e9-9ac2-2db1dc51745a.png)
this what i see : Ping request could not find host api.xero.com. Please check the name and try again.

[2019-01-24 03:36] calcinai commented on #473
@Mutondi you should expect something like

[code]

What that looks like is your DNS lookup is failing.  Have you got non-standard DNS configured on your computer/network?

[2019-01-24 05:08] wiki99 commented on #474
it dosent return object of address and phone i simply tried to get object property of address
by using
$contacts =$xero->load('Accounting\\Address')->execute();
foreach($contacts as $contact)
{
print_R($contact);

}

[2019-01-24 05:09] wiki99 commented on #476
ok

[2019-01-24 05:10] #476 closed

[2019-01-24 05:18] timacdonald commented on #474
What do you get if you dump the `$contacts` variables?

[code]

[2019-01-24 05:21] wiki99 commented on #474
it return blank

[2019-01-24 05:31] timacdonald commented on #474
Sounds like you have not set the address in Xero.

Can you please paste the result of the following code so we can see what is happening...

[code]

[2019-01-24 05:37] wiki99 commented on #474
ok

[2019-01-24 05:38] wiki99 commented on #474
/var/www/html/suitexero/custom/entrypoints/xero-php/tests/sendAccountToXero.php:11:string 'Number of contacts: 4' (length=21)

/var/www/html/suitexero/custom/entrypoints/xero-php/tests/sendAccountToXero.php:14:string 'Number of addresses for this contact: 2' (length=39)

/var/www/html/suitexero/custom/entrypoints/xero-php/tests/sendAccountToXero.php:14:string 'Number of addresses for this contact:

[2019-01-24 05:38] wiki99 commented on #474
it display like this

[2019-01-24 05:42] timacdonald commented on #474
Great!

Now lets see what is happening with the following code.

[code]

[2019-01-24 05:44] wiki99 commented on #474
now it return

[2019-01-24 05:44] wiki99 commented on #474
/var/www/html/suitexero/custom/entrypoints/xero-php/tests/sendAccountToXero.php:13:string 'First address type: STREET' (length=26)

/var/www/html/suitexero/custom/entrypoints/xero-php/tests/sendAccountToXero.php:14:string 'Second address type: POBOX' (length=26)

/var/www/html/suitexero/custom/entrypoints/xero-php/tests/sendAccountToXero.php:13:string 'First address type: STREET' (length=26)

/var

[2019-01-24 05:45] timacdonald commented on #474
So looks like it is working now?

This code is looping though all the customers. For each customer it is looping through their addresses and outputting information about the address.

[2019-01-24 05:47] wiki99 commented on #474
how i used street address and pobox address differently  in same file

[2019-01-24 05:51] timacdonald commented on #474
You need to check what type of address it is. You can do this as follows (just a quick example):

[code]

[2019-01-24 05:53] wiki99 commented on #474
ok thanks Timac its working fine great

[2019-01-24 05:54] timacdonald commented on #474
awesome

[2019-01-24 05:56] #474 closed

[2019-01-24 10:05] wiki99 opened #477 "unable to retreive website"
Hi

i am unable to get website please help me out how we fetch website from sdk library

$xero = new \XeroPHP\Application\PrivateApplication($config);
	$contacts = $xero->load('Accounting\\Contact')->execute();
foreach($contacts as $contact)
{
$contact->getWebsite();
var_dump($contact);
}

[2019-01-24 10:06] wiki99 commented on #477
output is
/var/www/html/suitexero/custom/entrypoints/xero-php/tests/sendAccountToXero.php:28:null

[2019-01-25 02:42] joelgomezb commented on #394
Thks

[2019-01-25 05:01] wiki99 commented on #477
yes its return string but when i am echo $contact->getWebsite(); it return blank white page why but on var_dump its return /var/www/html/suitexero/custom/entrypoints/xero-php/tests/sendAccountToXero.php:29:string 'Contact website is: ' (length=20)

[2019-01-25 05:06] wiki99 commented on #477
i face same issue in getting invoice due date my  code are
 $xero = new \XeroPHP\Application\PrivateApplication($config);
	$Invoice = $xero->load('Accounting\\Invoice')->execute();
foreach ($Invoice as $invoice)
{
$get=$invoice->getDueDate();
			var_dump($get);
}

[2019-01-25 05:07] wiki99 commented on #477
output is : /var/www/html/suitexero/custom/entrypoints/xero-php/tests/getXeroInvoices.php:30:null

/var/www/html/suitexero/custom/entrypoints/xero-php/tests/getXeroInvoices.php:30:
object(DateTime)[65]
  public 'date' => string '2019-01-31 00:00:00.000000' (length=26)
  public 'timezone_type' => int 3
  public 'timezone' => string 'Asia/Colombo' (length=12)
 but uanble to fetch duedate and when ec

[2019-01-25 05:36] timacdonald commented on #477
I believe these issues are outside the scope of this library.

The website issue seems like there is not a website set at Xero's end.

Regarding the datetime "issue", the PHP docs have information on the DateTime object: https://secure.php.net/manual/en/class.datetime.php

You will need to learn how to utilise the DateTime class to be able to work with it in your app.

[2019-01-25 05:59] darkwind77 opened #478 "Duplicate invoice created"
Hello,

I have this code and the invoice is being created **twice** each time I call `xero_invoice()`;
[code]

[2019-01-25 09:43] wiki99 commented on #477
ok sure thanks

[2019-01-27 00:04] DPineault opened #479 "Blank Line Item"
When using the UI, it is possible to create blank/empty line items in an Invoice.  This can be used for instance as a separator.

That said, from my experience with this extension, this does not seem possible as Description requires a value.  Is there any way to do this?  Am I missing something?

Thank you.

[2019-01-28 00:03] darkwind77 commented on #478
Anyone?

I tried moving the `spl_autoload_register` outside of the main function but it produced the same result. 2 duplicate draft invoices were created.

[2019-01-28 00:33] darkwind77 commented on #478
I am calling the xero_invoice function only once

when I echo all data and comment the `$invoice->save()` function, the data is displayed only once and no invoice is created on Xero.

I didn't have any invoice ID variable so Xero automatically sets the ID (ex. INV-055)

[2019-01-28 00:37] calcinai commented on #478
I'm referring to `$invoice->InvoiceID` after saving.  That should match only one of the created draft invoices.

I'd  also recommend looking in the [API History](https://app.xero.com/Application/History/) console, and check the requests coming in.

[2019-01-28 00:47] darkwind77 commented on #478
The API history adds 2 requests every time I call the script.

The InvoiceID echoed only one ID and matched the first invoice created.

[2019-01-28 01:04] calcinai commented on #478
Just to eliminate anything else, can you add an `exit;` the line after the save?

[2019-01-28 01:20] darkwind77 commented on #478
Whew!

That did the trick!

I wonder why it's creating duplicate invoices though.

[2019-01-28 01:21] calcinai commented on #478
You must be calling there function twice.

[2019-01-28 05:35] Mutondi commented on #473
Thanks Gentlemen, I resolved the issue. DNS was the issue. Thanks for this awesome tool!

[2019-01-28 05:35] #473 closed

[2019-01-29 01:22] #478 closed

[2019-01-29 18:15] wuhhh commented on #84
Just chiming in - I'm trying to add an option to an existing TrackingCategory using the following:

[code]

As @kylehq noted above, this will actually try to PUT to _/TrackingCategories/[GUID]/TrackingOptions_ which is incorrect. Manually changing the endpoint to **Options** (which is what it should be) results in a successful PUT (it shows as successful in Xero's history) but nothing is actually

[2019-01-29 20:37] kylehq commented on #84
@wuhhh When I publish Xero Tracking Categories, to work around, I do it in x2 steps. Eg I first build the tracking category with all options assigned. Then I get & clear the options and push/save the category on it's own. If the response is good, I then use the ID returned on the first request to assign/publish the related options. I've made my own abstraction from the XeroPHP lib but in general

[2019-01-30 16:06] quantumwebco commented on #322
Hey I'm building an app with xero integration and need the PayrollUK support.

I basically just need to get employee records and possibly create them too

How far along is it? Does it have this functionality already?

I'd be happy to contribute to add this!

[2019-01-30 17:08] weaselbass opened #480 "Empty Response"
Hi, I am trying to use the private Application example.
I have set the config array with the consumer_key and consumer_secret values from the app page and certificate location.

when running the script all it receives is:

`XeroPHP\Remote\Collection Object ( [_associated_objects:protected] => [storage:ArrayObject:private] => Array ( ) )`

I receive no errors.
Any help would be appreciated.

[2019-01-30 23:03] timacdonald commented on #480
@weaselbass are you saying you the result you pasted above is coming from this line?

https://github.com/calcinai/xero-php/blob/master/examples/private.php#L17

[2019-01-31 09:13] weaselbass commented on #480
@timacdonald
Yes, I'm running this exact script with my public_key/consumer_secret inserted.
Path to the certificate is correct and working as intended as when I modify this it will display an error.

[2019-02-01 12:04] timacdonald commented on #480
Awesome to hear ya got it sorted

[2019-02-02 17:49] glaing commented on #284
@srphpprogrammer did you manage to get this to work for Purchase Orders?

I'm trying to get this working for a project where I want to only get Approved Purchase Orders returned, but I always get all Purchase Orders returned.

$xero_purchase_orders = $xero->load('Accounting\\PurchaseOrder')->where('status', 'Approved')->execute();

Any help would be greatly appreciated :)

Thanks,
George

[2019-02-05 21:16] timacdonald commented on #284
I can't test this live right now, but I can confirm that command produces the following request from the library...

[code]

which results in the full url being...

[code]

which looks correct to me.

[2019-02-05 21:18] timacdonald commented on #284
Although looking at their docs 🤦‍♂️ ...

[code]

[2019-02-05 21:20] timacdonald commented on #284
Try this instead of using the `where` method...

[code]

[2019-02-05 21:54] glaing commented on #284
@timacdonald Thank you very much - that works perfectly!!

[2019-02-06 21:19] #468 closed

[2019-02-06 21:20] #477 closed

[2019-02-06 21:20] #475 closed

[2019-02-06 21:22] calcinai commented on #479
@DPineault this could be related to #447, have you tested it recently?

Does the API previewer allow you  to submit empty lines?

[2019-02-06 21:23] #462 closed

[2019-02-06 21:24] #438 closed

[2019-02-09 20:25] bram1028 opened #486 "Can't search for Invoices with `float` Total"
I'm running into an issue where I can't search for Invoices when the Total amount is a `float`:

[code]

It works fine with an integer:

[code]

PHP: 7.3.1
xero-php: v1.8.6

[2019-02-11 02:53] #486 closed

[2019-02-14 08:27] FrankEBailey opened #498 "setIsTrackedAsInventory does not appear to work when creating an Item"
I am creating Items in Xero via the API prior to adding a draft invoice.

My code is as follows:

			$nu = new XeroPHP\Models\Accounting\Item($xero);
			$salesdetails = new XeroPHP\Models\Accounting\Item\Sale($xero);
				$salesdetails->setAccountCode($linePart['SalesAccount'])
				->setUnitPrice($linePart['SalesUnitPrice'])
				->setTaxType('OUTPUT3');
			$nu->setCode($linePart['ItemCode'])
				->

[2019-02-14 11:06] jeremyj11 commented on #322
I've just started working on PayrollNZ - getting & updating employees is working.
[https://github.com/jeremyj11/xero-php](url)

Modified a few classes to handle json requests and responses.
Seems the v2.0 API is very lacking compared to v1.0 - eg no capability to set an employee's payrollCalendarID
Am trying to get onto Xero to add it.

Have to say I'm really suprised at how horrible the Xero API

[2019-02-14 11:16] judgej commented on #322
@jeremyj11 Xero recently tried to create swagger files for their APIs, and that led to the realisation, final acceptance and admission of just how horribly inconsistent the APIs are ;-) Working through them myself, it is easy to spot the different approaches that different teams have taken.

[2019-02-14 11:24] dextermb commented on #322
@quantumwebco I've implemented the minimum required for the project I'm working on (check out my fork) but I am not actively updating it as I have now been put onto another project.

[2019-02-14 14:28] FrankEBailey opened #499 "Unable to load a specific Purchase Order line item by LineItemID"
I'm not sure if the library supports what I'm trying to do. If a line item with a known LineItemID exists, it should be updated, otherwise it should be added.

My call is

$lineitem = $xero->load(Accounting\PurchaseOrder\LineItem::class)->where('LineItemID', 'af6e6e41-ca02-4b8e-b79b-06ef071f56d1')->execute();

However this doesn't return anything. Can a line item even be LOADed in this way, or per

[2019-02-14 22:48] timacdonald commented on #499
Maybe try the `loadByGUID ` method and see if that works.

[code]

[2019-02-14 22:55] timacdonald commented on #498
I don't believe you set that attribute directly - instead you pass other information for Xero to determine if that is supposed to be true.

Take a look at the docs: https://developer.xero.com/documentation/api/items

[2019-02-15 06:19] FrankEBailey commented on #499
Tim, you are a God among men. That did the trick. Thank you so much!

While you're here, do I need to save updates to the line items as I iterate through them, or will any updates I make be saved when I save the Purchase Order as a whole?

[2019-02-15 06:26] FrankEBailey commented on #499
Drat, that didn't work, I was hopeful for a second there, but unfortunately it doesn't return anything. I get

Uncaught XeroPHP\Remote\Exception\NotFoundException: Resource Not Found

I'm beginning to worry that getting a LineItem isn't supported in the way I'd hoped...

Thanks for trying Tim!

[2019-02-15 06:28] timacdonald commented on #499
You know what - I didn't even look at the docs before posting my first comment - but scanning now I don't think you can load the line items individually.

Gotta get the parent invoice and then scan through the line items by the looks of it.

...which no doubt is where your thinking is going as well.

[2019-02-15 06:51] FrankEBailey commented on #499
Yeah, very much so. My thought right now is to do something like this:

$searchedValue = 'af6e6e41-ca02-4b8e-b79b-06ef071f56d1';
$neededObject = array_filter(
	(array)$po->LineItems,
	function ($e) use ($searchedValue) {
		return $e->LineItemID == $searchedValue;
	}
);

$lineItem = $neededObject[0];

That gives me the matching LineItem object, if it exists.

I need to do some testing now to see wh

[2019-02-15 08:17] FrankEBailey commented on #498
Hi again Tim. Yes, what you're saying makes sense in the context of a careful re-read of the docs. Up to now I've only been passing sales info with no purchase info, but not being able to track an item if you don't have a record of the purchase of that item is a perfectly sensible limitation.

[2019-02-15 08:17] #498 closed

[2019-02-15 09:07] #499 closed

[2019-02-18 08:47] AndyTurff opened #510 "Website, Discount, Balances gone missing"
Tried getting Discount from Contacts and although there is one set in Xero nothing is returned, I thought it must be me but I did a print_r($contact); and the array returned is missing Discount and also Website and everything below Balances.
I don't mean there is no data, the whole line e.g. [Website] => [Discount] => etc is missing.
In Xero Previewer they all show up fine when doing a Contacts by

[2019-02-19 14:58] cnelindiahwe opened #511 "Not able to generate vendor folder using composer"
Hello,

I am not able to get vendor folder using composer.

Please see the screenshot:
![image](https://user-images.githubusercontent.com/10735803/53024081-5ea96d00-3484-11e9-8cba-50f1f1eb0003.png)

Please help me on this. What is error in composer.json file?
I have added version "1.5.0" after description also. But composer showing error in CMD.

Please tell me what i need to done here?
Can you pr

[2019-02-19 19:05] calcinai commented on #511
Can you please post your composer.json?

[2019-02-20 04:25] cnelindiahwe commented on #511
Here is my composer.json code:
`{
    "name": "calcinai/xero-php",
    "type": "library",
    "description": "A client implementation of the Xero API, with a cleaner OAuth interface and ORM-like abstraction.",
	"version": "1.5.0",
    "homepage": "https://github.com/calcinai/xero-php",
    "license": "MIT",

    "require": {
        "php": ">=5.5.0",
        "ext-curl": "*",
        "ext-openssl":

[2019-02-20 06:15] timacdonald commented on #511
That is the `composer.json` for this project. You need to create your *own* version. Just replace the entire contents of you file with the following and run `composer install`.

[code]

But I highly recommend digging into the composer docs to understand the tool you are using: https://getcomposer.org

[2019-02-20 08:06] cnelindiahwe commented on #511
Hello,

It still not working.
![s](https://user-images.githubusercontent.com/10735803/53075996-8f38e780-3514-11e9-86bd-f0bb9dc1b376.png)

Here is the updated file of composer.json
http://bit.ly/2TXWBCN

Please help

[2019-02-20 09:09] timacdonald commented on #511
I meant literally delete *everything* in your composer.json file and replace the contents with the snippet l provided

[2019-02-20 09:13] timacdonald commented on #511
And also, just run `composer install` not `require`

[2019-02-20 09:22] aamirshakil opened #512 "Curl Error 443"
I am facing an issue regarding curl that its not making connection to the api.xero.com. Although my post and get requests works fine till yesterday but today it shows me error.

**Fatal error: Uncaught exception 'XeroPHP\Remote\Exception' with message 'Curl error: Failed to connect to api.xero.com port 443: Connection refused' in C:\xampp\htdocs\vendor\calcinai\xero-php\src\XeroPHP\Remote\Request.

[2019-02-20 09:40] cnelindiahwe commented on #511
Yes, now i am able install generate vendor folder.
Thankyou very much.

[2019-02-20 09:40] #511 closed

[2019-02-20 09:45] #512 closed

[2019-02-20 11:16] cnelindiahwe opened #513 "Uncaught Error: Class 'XeroPHP\Application\PrivateApplication' not found"
Hello,

I have coming a fatal error.

Uncaught Error: Class 'XeroPHP\Application\PrivateApplication' not found

I have included also autoload library in my page.

You can check my screenshots:
![image](https://user-images.githubusercontent.com/10735803/53088279-45a9c600-352f-11e9-9c07-d1baa12388b2.png)

Also you can see my directory structure:
![image](https://user-images.githubusercontent.com/107

[2019-02-20 18:26] calcinai commented on #513
That directory structure doesn't look correct.  Did you have a good read of [the composer documentation](https://getcomposer.org/doc/)  as @timacdonald  recommended?

[2019-02-21 04:24] AndyTurff commented on #510
As an update, the query does return  the fields for the items but as you can see they are poulatrd in Previewer but not in the returned array. I can't see what the problemis. Please help...

This is what Previewer returns:-

         <PhoneType>MOBILE</PhoneType>
        </Phone>
      </Phones>
      <UpdatedDateUTC>2019-02-21T04:04:41.103</UpdatedDateUTC>
      <IsSupplier>false</IsSupplier>

[2019-02-21 05:09] jaisyabraham opened #514 "How to add the Sales Settings in the fincancial details section for a contact through the api"

[2019-02-21 05:34] cnelindiahwe commented on #513
Hello,

Which document i need to read? Can you send me link?

I did not found @timacdonald document.

What is wrong in my directory structure?

[2019-02-21 05:41] calcinai commented on #513
I’d recommend reading from the start until you feel like you’re comfortable with how composer works.

My comment re: directory structure was because the XeroPHP directory should be _inside_ the vendor folder

[2019-02-21 07:18] cnelindiahwe commented on #513
Hello,

I have put XeroPHP directory inside the vendor folder but i have still coming error

**Error:**
Fatal error: Uncaught Error: Class 'XeroPHP\Application\PrivateApplication' not found in /home/drkam418/lectures.owltalks.org/stripe-to-zero2/test.php:21 Stack trace: #0 {main} thrown in /home/drkam418/lectures.owltalks.org/stripe-to-zero2/test.php on line 21

What is mistake in my vendor direct

[2019-02-21 07:47] AndyTurff commented on #423
Hi wiki99, I had a similar problem, below is what worked for me. It is deliberately long winded to show you different options. Hope it helps...
`
use XeroPHP\Application\PrivateApplication;

require 'autoload.php';
include ('config.php');

$xero = new PrivateApplication($config);

$contacts = $xero->load('Accounting\\Contact'::class)
	//->where('UpdatedDateUTC >= DateTime(2019, 02, 10) && UpdatedD

[2019-02-21 07:51] calcinai commented on #513
This doesn’t look like an issue with the XeroPHP library, and is getting a bit off-topic.

I’d recommend reading the composer documentation and you should get a pretty good idea how it works.

For arguments’ sake, try creating a new folder with absolutely nothing in it, and run `composer require calcinai/xero-php`

If you run the test.php from inside there it should work.

[2019-02-21 09:40] futurewebsites opened #515 "Allocating payments to invoice and account"
I am trying to allocate a payment to an invoice and bank account, I can allocate the payment to the invoice but cannot find how to get the Account property, I have the account code

if I do:
     $account = $this->xero->load( Acocunt::class )
		                           ->where( 'Code', $code )
		                           ->execute();

and pass that into ->setAccount($account) I get an exception

[2019-02-21 12:26] pjw345 opened #516 "$contact->save()"
We are have previously written an application that interfaces Magento 1 with Xero and now are in the process of migrating to Magento 2 and hence need to update the module that interfaces with Xero.

XeroPHP is installed via composer.  I use PhpStorm for my development and I have converted the existing classes.  I have created a new Xero sandbox account, created the API keys and I should be good to

[2019-02-21 14:02] cnelindiahwe opened #517 "create invoice"

[2019-02-21 14:03] #517 closed

[2019-02-21 14:24] pjw345 commented on #516
Word of advise if anybody else has this problem.

Doing a $contact->validate() will be true if the contact is empty, i.e. a new Accounting\Contact with nothing in it.

Adding debugging and displaying the $contact->jsonSerialize() highlight a completely different error in my code which showed my I was in fact trying to save an empty Contact to Xero.

[2019-02-21 14:24] #516 closed

[2019-02-21 14:50] futurewebsites commented on #515
I think what I actually need to do is just reconcile the payment against the invoice

[2019-02-21 15:57] futurewebsites commented on #437
Ive tried (below) but can't seem to pull a transaction by ref:

[code]

[2019-02-21 18:30] #513 closed

[2019-02-22 00:20] jaisyabraham opened #518 "Sales Settings"
I am looking at including the Sales Settings: **Tax Inclusive** when adding a Contact through this library. However, there isn't a property for the object (refer to screenshot). I understand this can be done when I create a contact via Xero Website.

<img width="904" alt="Xero Contact.php API" src="https://user-images.githubusercontent.com/47842670/53210941-ac47f480-3693-11e9-85be-23f6c1bb3966.png

[2019-02-23 08:08] owaisjamal9978 commented on #433
can you please tell how you able to solve this problem!

[2019-02-25 06:50] owaisjamal9978 opened #519 "How to Update Record with Where statement"
Please let me know how to update single record  using where statement. I am unable to update record. please Help!

[2019-02-25 06:51] calcinai commented on #519
@owaisjamal9978 Can you post what you've got so far and I'll see if I can help.

[2019-02-25 06:53] calcinai commented on #518
@jaisyabraham Have you managed to make this work with the API previewer? If you can get it working there, you can almost map the XML nodes 1:1 to the models in the library.

[2019-02-25 07:01] owaisjamal9978 commented on #519
$contact = new \XeroPHP\Models\Accounting\Contact($xero);
        $contact->setName('Test Contact')
            ->setFirstName('Test')
            ->setLastName('Contact')
            ->setEmailAddress('test@example.com');
        $contact->save();

Validation Exception throws....

A validation exception occurred (The contact name Test Contact is already assigned to another contact. The contact na

[2019-02-25 07:21] calcinai commented on #519
You'll need store the `GUID` from the contact, use that to update it.

[code]

[2019-02-25 07:39] owaisjamal9978 commented on #519
Thank you so much for the Help! Resolved!  :)

one more thing i want to ask if i want to update any record so i have to get is GUID first and then to update that record! cant i update record directly with some other key using some where statements.

Also i want to know how to delete the same record!

[2019-02-26 06:05] jaisyabraham opened #520 "Email Invoice (sending twice)"
I have called the $invoice->save(); function to generate the Invoice. After which, I have called this $invoice->sendEmail(); function. However, I am receiving two emails of the same Invoice.

`
 $invoice->save();
 $invoice->sendEmail();
`

The $invoice->sendEmail(); function is called from SendEmailTrait.php

I've then used try to debug using the API Previewer to do a post method to send the email

[2019-02-26 08:12] calcinai commented on #520
@jaisyabraham How are you triggering this script? If it's a GET request, the browser will often call it twice.  I've seen similar issues in the past.

[2019-02-27 00:18] jaisyabraham commented on #520
@calcinai I am using ajax POST method to trigger the function in the SendEmailTrait.
Below is the code that I have used to email the invoice.

<img width="623" alt="screen shot 2019-02-27 at 10 24 23 am" src="https://user-images.githubusercontent.com/47842670/53455967-91ed8c80-3a80-11e9-81b2-e7a012930755.png">

`<?php

namespace XeroPHP\Traits;

use XeroPHP\Remote\Request;
use XeroPHP\Remote\URL;

[2019-02-27 00:22] #514 closed

[2019-02-27 04:04] owaisjamal9978 opened #521 "How to Delete any particular record or an object"
Anyone knows how to delete the single record or an object of the particular record like Contact Person from contact. Please Help!

[2019-02-27 04:28] kunallibra opened #522 "Error: Argument 1 passed to XeroPHP\Application\PrivateApplication::__construct() must be of the type array, null given, called in C:\xampp\htdocs\Project\app\Facades\XeroApi.php on line 76"
Hi,

I have installed the package through the composer and has installed successfully. I then followed some tutorials and I keep getting this error **_"Argument 1 passed to XeroPHP\Application\PrivateApplication::__construct() must be of the type array, null given, called in C:\xampp\htdocs\Project\app\Facades\XeroApi.php on line 76"_**

Can you please help/ let me know what is wrong.

Thanks

[2019-02-27 09:37] Josh-G commented on #522
What are you passing to the construct call (line 76 of your facade)? As the error suggests, it sounds like you are calling
[code]

[2019-02-27 09:47] Josh-G commented on #521
In regards to deleting a ContactPerson from a Contact, have you tried fetching the resource with `loadByGUID` then either emptying the ContactPerson collection ([`$contact->getContactPersons()->removeAll()`](https://github.com/calcinai/xero-php/blob/b3734ba0fea81cc71006007cf0bfbcb8dcf7b9d4/src/XeroPHP/Remote/Collection.php#L56) or removing a specific record ([`...->remove($record)`](https://github

[2019-02-27 16:33] futurewebsites commented on #255
has this been resolved? I have done the following but can't see the tracking category or option has been applied anywhere:

`public function addLineItems($lineItem){

		$tracking_category = new TrackingCategory();
		$tracking_category->setName("Country");
		$tracking_option = new TrackingCategory\TrackingOption();
		$tracking_option->setName($lineItem['tracking']);
		$tracking_category->addOption(

[2019-02-27 16:56] futurewebsites commented on #272
I am having exactly the same issue has there been any resolution or work-arounds for this ?

[2019-02-27 21:26] timacdonald commented on #515
Hey, here is a snippet of how I am creating my payments. Add an account by new-ing it up and setting the account code on the Account instance.

[code]

[2019-02-27 21:41] kunallibra commented on #522
Hi, I am new to the Xero and Laravel. I am not able to understand the code. I have downloaded and installed the package using via the composer. Can you show bit of the code please.

Thanks

[2019-02-27 21:55] calcinai commented on #522
@kunallibra Have a look at [README.md](https://github.com/calcinai/xero-php/blob/master/README.md), it has full instructions to get you going.

[2019-02-27 21:58] kunallibra commented on #522
Ok, i did followed, but anyways, i am not able to understand. I created a controller Test and and a public function testXero (){
//and i wrote this:
$xero = new \XeroPHP\Application\PrivateApplication($config);
//not to sure how what is the $config here? I assume its a public/Private key, and i have defined it at Config/service.php file. Is that right?

}

Thanks

[2019-02-27 22:05] calcinai commented on #522
Ok, have you looked in the
[examples](https://github.com/calcinai/xero-php/blob/master/examples) folder?

[2019-02-27 22:19] kunallibra commented on #522
Yes, i saw those examples now. In the config.php file, we are defining all the Keys. I have also added both the files (private and public) in the certs folder. but still there is no luck. So sorry abt bothering you so much.

Thanks

[2019-02-27 22:21] kunallibra commented on #522
And btw, the config.php file that contains in this example, has all the Keys, right. And in my project, I am using the Keys inside  the  config/service.php file. Is that causing the issues as its not able to read it?

Thanks.

[2019-02-27 22:22] timacdonald commented on #522
You issue is you integration with Laravel, not this package. The config.php file has no meaning to this package.

[2019-02-27 22:22] timacdonald commented on #522
I would recommend checking out a Laravel integration to help you with the process, perhaps: https://github.com/langleyfoxall/xero-laravel

[2019-02-27 22:25] timacdonald commented on #522
I might have jumped the gun there sorry. The config.php file is in the examples, but it looks like you are trying to use this library as a facade in Laravel, as per your first message. Perhaps try using that package I mentioned to help you get everything setup and working well with Laravel

[2019-02-27 22:25] kunallibra commented on #522
Thnaks for that. Just one last quesiton plz. I feel that my certs folder may not in the right directory. Where exactly we create this certs folders in the project.

Thanks

[2019-02-27 22:26] timacdonald commented on #522
As long as they are not in any publicly accessible folder, you can put them where ever you like.

[2019-02-27 22:27] kunallibra commented on #522
ok, cool. actually i have created a folder inside (htdocs) called Xero/certs/and both files

[2019-02-27 22:29] timacdonald commented on #522
You *definitely* do not want to put your certs (or any configuration information) in the `htdocs` folder. That is publicly available.

[2019-02-27 22:36] kunallibra commented on #522
ok, i tried relocating the folder and files and i am getting this error now

[2019-02-27 22:38] timacdonald commented on #522
Looks like you might not be providing the correct path for the file.

[2019-02-27 22:47] kunallibra commented on #522
the actual path where the files are located is :

and the controller files is in:

and in the Test.php, inside the public function testXero () {

//i have
  $config = [
                  'oauth' => [
                  'callback' => 'http://localhost/',
                  'consumer_key' => 'K',
                  'consumer_secret' => 'S',
                  'rsa_private_key' => **'file://certs/private

[2019-02-27 22:51] kunallibra commented on #522
ok, got it now.

Thanks for the time and help.

[2019-02-27 22:53] #522 closed

[2019-02-27 22:54] timacdonald commented on #522
No problem - glad it is working for you

[2019-02-27 23:04] kunallibra commented on #522
Sorry, one more error.
Sorry about this.

the error  I am getting now is:

So, I have checked your folders and you have it  **xero-php/src/XeroPHP/Models/Accounting/Contact.php** , so I can copy this folder and add it in my project? Indide htdocs/assignment_Sem2/xero-php/src/XeroPHP/ and all the files and folders?

Thanks

[2019-02-27 23:05] timacdonald commented on #522
You need to import the class: https://secure.php.net/manual/en/language.namespaces.importing.php

[2019-02-28 05:45] jaisyabraham commented on #520
@calcinai

Can you please tell me what else should I do to ensure that the email is not send twice. This is urgent.

Is there anything I need to do in my xero settings?

or is it something with the Api or is it a global issue?

How can I solve this issue?

Thanks.
Can anybody please advise? Thanks.

[2019-02-28 07:38] suri4ucreate commented on #344
@jajamoks Thanks for the idea. faced same issue but It worked for me too. :+1:

[2019-02-28 10:57] futurewebsites commented on #84
@DarrenChowles Where are you putting TrackingCategoryOverride ?

[2019-02-28 11:09] DarrenChowles commented on #84
I added the TrackingCategoryOverride in the same file as my class that makes use of Xero. So the file has two classes. Not great, but a temporary fix.

[code]

[2019-02-28 12:05] futurewebsites commented on #84
@DarrenChowles thanks for the quick reply I have tried that but get:

PHP Fatal error:  Uncaught Error: Class 'XeroPHP\Models\Accounting\TrackingCategory'

which refers to the extends line I have the use lines above the class which includes: use XeroPHP\Models\Accounting\TrackingCategory;

[2019-02-28 21:25] calcinai commented on #520
@jaisyabraham Can you please put some logging in place to ensure that function is only being called once?

[2019-03-01 05:21] jaisyabraham commented on #520
@calcinai I have tried to put the log in the sendEmail function and its only executed once but I get 2 invoice emails.

I even tried to remove all the javascript codes and just called the below code and its giving me 2 emails.

` ($xero->loadByGUID('Accounting\\Invoice', '8c5be42d-e034-4860-85f3-ae692f127ecb'))->sendEmail();`

I also tried out the API History (https://app.xero.com/Application/Hist

[2019-03-01 06:48] calcinai commented on #520
I’m not getting any emails, is it possibly you’ve put your email in twice (multiple contact persons)

[2019-03-02 06:25] danielignatius commented on #520
@calcinai I am getting two emails as well when I only added one primary person contact. If you run the a test sendEmail function over at your side are you getting two emails for one invoice and for one primary person contact? It very strange when I only run the sendEmail function once but received the same emails twice for one primary contact. Please help!

[2019-03-04 04:46] owaisjamal9978 opened #524 "How to delete an Item or Mark as Inactive"
Is there any way i can delete the Item also Mark as inactive like i can do it directly from the xero app. Please suggest!

[2019-03-04 04:47] owaisjamal9978 commented on #524
I am using the $item>delete() but it is not deleting the record neither making it inactive!

[2019-03-04 05:46] samandeggs opened #525 "'Unable to assign an Archived contact.' when adding a contact to contactgroup"
Hi,

I'm running a basic script that **_is_** technically working, the `Contact` is added to the `ContactGroup` - however it appears that the request is sending through all of the Contacts (expected), and somehow including Contacts that are archived (unexpected), and it's throwing a 400 error (Validation).

On my end it times out after 20000ms, or throws a large amount of console errors, akin to t

[2019-03-04 09:32] #525 closed

[2019-03-04 22:35] i-bajrai opened #526 "Activity Statement Support"
Hi I am using your plugin to retrieve Activity Statements from Xero's API.

https://developer.xero.com/documentation/api/reports#BASReport

But unfortunately, it does not play nicely.

I can open a PR to get this working but I'm not sure if you want to support this report type?

[2019-03-04 23:42] timacdonald commented on #524
Hey @owaisjamal9978 pretty much everything that is possible via the API is able to be updated with this package.

Can you show me what in the Xero documentation you are trying to update? For example, if you are trying update a contact status, these are the available status;: https://developer.xero.com/documentation/api/types#ContactStatuses

[2019-03-04 23:48] timacdonald commented on #520
@danielignatius if you application history is showing one incoming POST request but Xero is sending 2 emails for that request, that is something Xero's end and not something this library can really account for.

Can you confirm that the API history is only showing ONE incoming request? But for each request is is sending 2 emails?

[2019-03-04 23:52] timacdonald commented on #510
@AndyTurff can you post the PHP code you are using? Might make it easier to debug if we can see what you are doing in your code.

[2019-03-05 03:31] owaisjamal9978 commented on #524
@timacdonald  I have created an Item from the Item POST API. I can update it but i am not able to mark it **InActive** or can **Delete** it using the API. Please suggest if you know any solution to this! Thanks!

Below is the code that i am using it....
$items->setGUID($GUID)
           ->delete(true);

[2019-03-05 04:14] timacdonald commented on #524
What class is it an instance of? Are you getting any errors?

That code snippet doesn't give me any context, can you share more?

[2019-03-05 04:53] owaisjamal9978 commented on #524
No errors getting. I am using the below API
https://developer.xero.com/documentation/api/items

$items = new \XeroPHP\Models\Accounting\Item($xero);
$items->setGUID($GUID)
           ->delete(true);
$items->save();

[2019-03-05 06:57] timacdonald commented on #524
Try removing that `save()` call

[code]

[2019-03-05 08:50] AndyTurff commented on #510
Hi Tim, Thanks for getting back to me. My code is below, it is just a test code so a bit long winded as I am trying to trouble shoot it. I have checked on Xero and the contact queried has all the necessary fields completed i.e. website and discount.

`<?php

use XeroPHP\Application\PrivateApplication;

require 'autoload.php';
include ('config.php');

$xero = new PrivateApplication($config);

$cont

[2019-03-05 09:42] owaisjamal9978 commented on #524
Thanks @timacdonald . Actually i want to make it **In Active** not completely deleted from xero, it is removing the record from xero in this case!

[2019-03-05 10:04] Josh-G commented on #524
This isn't possible over the API yet, and was requested [back in 2016](https://xero.uservoice.com/forums/5528-xero-accounting-api/suggestions/15159630-should-be-able-to-retrieve-and-set-inventory-item)

[2019-03-05 10:47] owaisjamal9978 commented on #524
OK @Josh-G  Thanks bro!.. dont know why this important feature is not available yet in the API from 2016!

[2019-03-05 21:27] zmitic opened #527 "Wrong tax value when creating invoice"
When I create invoice in browser, my item with code 1006 and GST tax of 10% is correctly created:

![image](https://user-images.githubusercontent.com/1964158/53838330-12d2e980-3f95-11e9-87ed-e46f93596385.png)

I.e. I pick 1006 and browser puts the tax. All works correctly here.

---

But when I create invoice via API, line item always gets 8.25% tax which is wrong:

![image](https://user-images.gi

[2019-03-05 21:32] zmitic commented on #527
And this is screenshot of actual item 1006, GST is set as default:

![image](https://user-images.githubusercontent.com/1964158/53838915-81647700-3f96-11e9-87e2-36f299566487.png)

[2019-03-05 23:07] timacdonald commented on #527
I reckon this might have to do with not specifying if the tax is inclusive / exclusive.

Try setting the line item type on the invoice in addition to what you are already doing.

[code]

[2019-03-06 00:08] zmitic commented on #527
Still doesn't work:

![image](https://user-images.githubusercontent.com/1964158/53846110-027a3900-3fac-11e9-943b-fe915c61380c.png)

It is not a problem of tax being included or not, I just forgot the call, it is that system doesn't pick correct tax rate from selected item.

I looked at the code, there is nothing to set it manually either.

[2019-03-06 00:16] timacdonald commented on #527
I'll try and look at this in a bit more detail later on, but for now here is a dump of what I'm doing and it is picking up everything I expect it to.

[code]

[2019-03-06 00:31] zmitic commented on #527
I am posting real code, unaltered for readibility as I did above:

[code]

There is no real difference except that ``Invoice`` is my Doctrine entity so I used
``use XeroPHP\Models\Accounting\Invoice as XeroInvoice;``

The code is organized in repositories (like Doctrine) so ``$contact`` variable is instance of ``XeroPHP\Models\Accounting\Contact``, never a null.

Even with added ``->setTaxType(Tax

[2019-03-06 08:28] #524 closed

[2019-03-07 03:10] mrvickiee commented on #256
I am having the same issue.

[2019-03-07 18:00] allGitHubsUserNamesAreTaken commented on #418
I get the exact same issue.  If I create an array of new Contact models and batch save they are all created fine using:

`$this->xero->saveAll($myXeroModels) `

If I call the same saveAll() method as above but passing an array containing an existing model individually loaded from Xero, their properties set with the same setter methods as during the create, they do not update.

E.g.:

[code]

Each

[2019-03-08 04:12] itokallad commented on #171
Can we  update/delete the existing bank accounts of the employee without creating a new bank account?

[2019-03-10 11:01] zmitic commented on #527
If it is of any help, I created [repository](https://github.com/zmitic/xero-credentials) with my API credentials. It is test account, feel free to try it.

[2019-03-11 07:43] arivazhaganark opened #528 "Item API couldn't update"
When updating an item unit price, it throws an error as "Price List Item Code must be supplied".
I found the bug,  on Application.php --> save() method line no 296, only send dirty attributes only.
`$data = [$object::getRootNodeName() => $object->toStringArray(true)];`

So the `<Code>` doesn't dirty. that's why it's not send to API Body.

Even in the Xero Previewer, i try to manually update the It

[2019-03-11 13:26] teddyleo opened #529 "Add Function to Get Invoice PDF"
Add a function for getting an invoice PDF from a GUID. This would be done by setting the request header before making the call, as outlined in the Xero documentation:
 - https://developer.xero.com/documentation/api/requests-and-responses#get-individual

[2019-03-11 13:59] FrankEBailey opened #530 "How can I delete a Purchase Order line item using the Xero-PHP library?"
I've managed to load an existing Purchase Order if its reference exists, or create it if its reference doesn't exist. When it exists, and I try to update it, the line items aren't updated but rather doubled up, so I end up with multiple lines of the same items.

Is there a way to delete a line item from a Purchase Order? The simplese workflow for me would be to load the PO, then delete all the lin

[2019-03-11 14:32] FrankEBailey commented on #530
To expand more on this, it seems like the documentation is either incorrect, or I'm doing something wrong. Because in the docs it says that, if I try to send line items to an existing Purchase Order, if I supply LineItemIDs the lines will be updated, otherwise the will be deleted and recreated. However this doesn't seem to work in practice, because I can't load a LineItem by its GUID (I get a Reso

[2019-03-12 11:01] Neaars opened #531 "Issue with attachment"
Hello,
When I tried to use attachment, I have an error.
For example, I load an invoice, and I tried to use "getAttachments" but I have this error :

I don't understand, because when I use getGuid, or "getContact", it's work well.
Could you help me please ?

[2019-03-13 14:53] Billanthrop commented on #528
I think I have experienced the same issue today. Writing a basic function to update an item I found that unless I changed the item code, I was getting the "Price List Item Code must be supplied" error.

After finding this note on the issue I implemented a crude workaround that forced the item code to always be dirty:
[code]

[2019-03-13 14:56] FrankEBailey commented on #530
I discovered the RemoveAll() function, used it to delete all the LineItems in the Purchase Order, did a ->save() and then was able to re-add the changed line items to no duplication takes place any longer.

[2019-03-13 14:56] #530 closed

[2019-03-13 15:02] FrankEBailey commented on #401
The workaround I've found is to instantiate the $Invoice, then do
    $Invoice->LineItems->RemoveAll();
so that the existing line items are removed, then do
    $Invoice->save();
and thereafter add the updated line items.

This approach is actually very clean and requires the least cruft and is also the only approach I've found that avoids needing to store LineItemIDs in my database.

[2019-03-14 03:56] arivazhaganark commented on #528
Yes @Billanthrop the HACK resolved the issue. Thanks

[2019-03-14 08:22] #528 closed

[2019-03-14 23:57] kunallibra opened #532 "Receipt Option?"
Hi,

I am trying to send a receipt (bill/ expense)  as a draft to the Xero, but what ever I try and do, I am getting an error. Basically, I want to upload the receipt( the invoice sent by the supplier), enter the Name of the supplier, Amount to pay, Invoice Number from the supplier and our reference code merged (eg: Inv Num / Ref as 987/ 123), due date, and a small description like 1 dozen blue ba

[2019-03-15 22:12] dextermb commented on #322
@calcinai Have you had a chance to look at [my fork](https://github.com/dextermb/xero-php/tree/feature/payroll-uk), for the implementation of [UK Payroll](https://developer.xero.com/documentation/payroll-api-uk/overview)?

There a lot of changes which makes it hard to test. I'm willing to open a PR to get it merged into the main library but I'm not sure if it'll break something that I haven't come

[2019-03-18 09:23] dextermb opened #533 "Setting the tracking category option does not get reflected on an invoice"
I am attempting to set the tracking option on a line item for an invoice. Here's what I've currently got:
[code]

As you cannot directly load tracking options, I loop through a given tracking category and match an option. Once an option is matched then I set it as the option and set the option name based on the option.

This then gets piped into the Line Item:
[code]

Here's what the tracking look

[2019-03-18 10:31] dextermb commented on #533
Looking at the request for the line item with tracking, it seems like rather than just sending the name and option name as stated by the [API documentation](https://developer.xero.com/documentation/api/invoices#post), it actually sends up the whole objects which probably get ignored.

@calcinai

[2019-03-20 13:40] grehbein opened #534 "Question: How it is possible to create a "multiple items" bank transaction?"
If a user creates one overpayment with the UI inside an invoice, automatically Xero creates, in Bank Transaction, a transaction called "Payment:multiple items". Inside the transaction, Xero UI shows "Transaction: View Transaction" with two areas, one for the Invoice Payments and the other for the Overpayments and Prepayments.

Is possible , with the XERO API, create a bank transaction with Multipl

[2019-03-21 12:57] grehbein commented on #534
Support answered me:

[2019-03-21 20:40] #534 closed

[2019-03-23 22:58] calcinai commented on #322
@dextermb I've had quick look but it's hard to review due to all the whitespace changes.  If you'd like to update the style in any of the code, can you please do this in a seperate PR?  Otherwise looks fine,  other than the assumption that all payroll versions will have the same URL root, this might need more  testing.

[2019-03-23 22:59] calcinai commented on #532
@kunallibra I think the issue is that you're using a _Receipt_, as opposed to an _Invoice_

[2019-03-23 23:01] dextermb commented on #322
@calcinai I believe whitespace changes can be disabled somehow through the GitHub UI, perhaps this is only for PRs.

It's definitely hard to test as GB payroll uses JSON whereas pretty much everywhere else uses XML. A few functionality changes are in there too.

From the few models I created for GB payroll, which were critical to my project, they seem to work fine.

Perhaps release the changes as

[2019-03-23 23:06] #257 closed

[2019-03-23 23:12] calcinai commented on #322
@dextermb Good to know re hiding the whitespace changes, that said, it's still nice not to mix the two in the git log.

I can see there's a lot different between the versions- it might actually time to make all of the APIs use json, too.

I don't think it's appropriate to just release it without testing the other parts. Can you please submit a PR and we can make a plan from there.

[2019-03-26 09:05] alowaus commented on #440
Did you end up solving the above? I have run into the same issue

[2019-03-26 09:26] adblake commented on #440
Well... I couldn't find any help anywhere! So I came up with a work around that works for me, then I moved on.

`
$x = 0;
## Retrieve each row as an associative array and display the results.
while( $tsRow= sqlsrv_fetch_array( $tsStmt, SQLSRV_FETCH_ASSOC)) {

	$x = $x + 1;

	if ( $tsRow['intMonday'] == '0.00') { $tsRow['intMonday'] = 0; }
	if ( $tsRow['intTuesday'] == '0.00') { $tsRow['intTuesday'

[2019-03-26 11:45] mikejatech opened #536 "Set line items to the end of an invoice instead of the top when updating an invoice"
Hi,

Is there a way when adding line items to an existing invoice (which already has line items) to add them to the end of the invoice instead of them being added to the top which happens by default?

Or is there a way to re-order line items via the API?

Any help on this would be great.

Thank you.

[2019-03-26 16:28] gregharvey opened #537 "Support for the Projects API"
Appreciate this is really new, but is such support planned? Docs are here, for those who aren't aware of it. Looks like it was only formally released last month:
https://developer.xero.com/documentation/projects/overview-projects

Thanks,

Greg

[2019-03-30 02:22] alowaus commented on #440
Thanks Adam. That has helped me figured out where I was going wrong.

The number of addNumberOfUnit must match how many days you have defined in your timesheet period. So for the month of February (Start Date 01/02/2019 till End Date 28/02/2019) I had to add 28 values via addNumberOfUnit. You helped me get over my blocker :)

[2019-03-31 23:04] shabaz-ejaz opened #555 "How do I send a receipt for a paid invoice?"
I have figured out the logic to save a payment for an invoice in Xero but I cant seem to find a way to send a receipt for the Payment:

[code]

I see that there is Receipt model for in the API but how do I email the receipt attachment? Any ideas?

[2019-04-01 21:23] shabaz-ejaz commented on #555
@calcinai any ideas?

[2019-04-02 04:43] KimBev opened #556 "Attachment not working on BankTranfer"
Hi, Your SDK is great, thanks for the effort in putting it together.

I am adding attachment to Invoices and it works fine, now I have tried adding an attachment to a BankTransfer but it does not seem to work, is this a known issue?

This is my code

[code]

thanks
Kim

[2019-04-02 05:55] calcinai commented on #556
Hmm, are you getting any errors?

[2019-04-02 05:58] KimBev commented on #556
Hi, no errors, I also printed out the raw response from AttachmentTrait->addAttachment and it seemed to be successful.  But when I got Xero the attachment is not present on the bank transfer transaction.

[2019-04-02 06:12] calcinai commented on #555
@shabaz-ejaz Is it possible through the API?

[2019-04-02 06:12] calcinai commented on #537
Yeah why not! Have you got an immediate need for it?

[2019-04-02 06:14] calcinai commented on #536
Great question. I'm not sure - have you tested in the API previewer? I believe the `LineItem` endpoints  an invoice should respect the order.

[2019-04-02 11:40] shabaz-ejaz commented on #555
@calcinai It seems as if you can as there is a receipts endpoint (although it says deprecated):
https://developer.xero.com/documentation/api/receipts

But not sure how the receipt is associated with an invoice as there is no field for that.

[2019-04-02 19:33] calcinai commented on #555
That's for expense claims rather than payments  on an invoice.  I don't think this is possible sorry.

[2019-04-02 19:33] #555 closed

[2019-04-03 23:13] KimBev commented on #556
Hi, did you have any luck replicating this behaviour?  I can activate some debugging or something if you need.

[2019-04-04 04:00] hailwood opened #557 "->save() doesn't seem to save?"
Pretty simple operator:

[code]

Dumping out the response from `$contact->save();` we get:

![image](https://user-images.githubusercontent.com/709773/55528898-0f995d80-56fb-11e9-8d7b-0a3e9c884ceb.png)

What am I doing wrong that it wouldn't be saving?

[2019-04-04 14:36] judgej commented on #103
Just found this note, which looks promising:

Posted by Xero, Jan 17 2019 https://xero.uservoice.com/forums/5528-xero-core-api/suggestions/5688571-expose-which-user-connected-the-organization-via-o

[2019-04-05 03:00] timacdonald commented on #557
Think it might just be that you are still trying to get the website off the `$contact` variable and not the `$fresh` variable.

[code]

[2019-04-05 03:08] hailwood commented on #557
Hey @timacdonald,

Thanks for spotting that, unfortunately that's just a typo in the demo code here.
The website still doesn't get update (and interestingly if you look at the response in the screenshot above, it shows Xero is returning the previous website in the response).

I'm wondering whether this is more an issue on Xero's side than this package since it seems to be sending across everything

[2019-04-05 03:42] timacdonald commented on #557
Ahh, dang - its never that easy haha.

So call me crazy, but the docs show that you can get the website, but not update it via the API.

https://developer.xero.com/documentation/api/contacts

Checkout this previous issue as well: https://github.com/calcinai/xero-php/issues/329

[2019-04-05 03:45] timacdonald commented on #557
Can you try creating a new contact with a website and see if the website is added to the contact?

[2019-04-05 03:59] hailwood commented on #557
I can confirm you can create a contact and pass through a website and it works successfully.

:man_shrugging: I don't actually need to update the website, I only came across it as that was the field I had selected for use while testing. Glad to know it's not just me though.

Could it be worth throwing an exception when calling setWebsite if the model has a GUID set?

[2019-04-06 08:49] kashifau opened #558 "Code to Remove LineItem"
Hi, is this the right code to remove all lineitems. This is not working, any idea whats wrong
$inv = \XeroPrivate::loadByGUID('Accounting\\Invoice', 'INV123');
$inv->getLineItems()->removeAll();
$inv->save();

[2019-04-07 01:33] kashifau commented on #530
Hi Frank, how did you use removeAll function, it's not seem to be working for me.

[2019-04-07 02:56] kashifau commented on #558
I am able to remove one lineitem when I use $inv->getLineItems()->removeAt($index); but doesn't work when I use removeAll. What am I missing?

[2019-04-07 17:24] FrankEBailey commented on #530
I used it like so:

[code]

You might've been missing the `save()` call?

[2019-04-07 19:38] kashifau commented on #530
I am using this code to remove invoice lineitems but not working for me. I am able to remove one lineitem using removeAt($index) but removeAll doesn't work for me.

[2019-04-08 00:42] kashifau commented on #558
Solved. I had to add a new lineitem before saving so previous lineitems could be removed.

[2019-04-08 00:42] #558 closed

[2019-04-08 00:43] kashifau commented on #530
Solved. I had to add a new lineitem before saving so previous lineitems could be removed.

[2019-04-10 00:42] timacdonald commented on #515
Hmmm, I would have thought that would work. I'll need to try this on my end and see why it isn't working.

[2019-04-10 11:00] dextermb commented on #533
@calcinai @timacdonald Any ideas on how to resolve this issue?

[2019-04-10 14:10] buggedcom opened #559 "twig < 1.38 has a security vulnerability"
https://symfony.com/blog/twig-sandbox-information-disclosure

Can you please bump your require version.

[2019-04-10 20:46] calcinai commented on #533
@dextermb Tracking seems to be a perpetual issue as it behaves differently at different endpoints. Have you tried altering the LineItem class yo make it submit only the string?

[2019-04-10 23:11] timacdonald commented on #559
Just opened a PR to address this: https://github.com/calcinai/xero-php/pull/560

[2019-04-11 07:26] dextermb commented on #533
I have not, but unrelated to invoices I have had to edit the endpoint (on my fork) from `TrackingOptions` to `Options` and with new functionality in my branch I removed the root node so that it will update/save as JSON.

A _solution_ for the invoicing issue is to create a local tracking category and only give it the data it needs:
[code]

This seems to work but obviously isn't ideal.

[2019-04-14 05:07] hiheaven opened #562 "run composer get the error "No version set"."
I have php 7.0.4, from windows run composer get the error "No version set".
would some one help to solve this? thanks

-----------------------
composer require calcinai/xero-php

Using version ^1.8 for calcinai/xero-php
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an

[2019-04-14 07:11] timacdonald commented on #562
Could you paste a copy of your `composer.json` file? Might help troubleshooting

[2019-04-14 21:05] hiheaven commented on #562
After googling for the solution, it works if it has "version" in it. Thanks

{
    "name": "calcinai/xero-php",
    "type": "library",
    "description": "A client implementation of the Xero API, with a cleaner OAuth interface and ORM-like abstraction.",
    "homepage": "https://github.com/calcinai/xero-php",
    "license": "MIT",
	"version": "1.8.6",

    "require": {
        "php": ">=5.5.0",

[2019-04-16 01:13] jgirgis85 commented on #433
Can I please know how did you get it resolved? I am facing the same issue.

[2019-04-23 10:23] dlodhia opened #563 "Fatal error: Class 'XeroPHP\Exception' not found in \src\XeroPHP\Remote\OAuth\Exception.php on line 5"
Fatal error: Class 'XeroPHP\Exception' not found in \src\XeroPHP\Remote\OAuth\Exception.php on line 5

[2019-04-23 11:06] timacdonald commented on #563
Are you adding the package to your application with composer? or did you download it manually?

[2019-04-24 06:36] KimBev commented on #556
Hi, Any ideas on this one?

[2019-04-24 07:55] dlodhia commented on #563
Using composer.

[2019-04-24 11:22] FrankEBailey commented on #385
Yes, this helped me, thanks for putting the solution in! :)

[2019-04-24 13:04] FrankEBailey opened #564 "Fatal Error when Assigning a contact to an Invoice"
In my code I check whether the contact exists and add it to Xero if it doesn't. However if the contact DOES exist, and I try to assign it to my new invoice, I get this error:

`Fatal error: Uncaught TypeError: Argument 1 passed to XeroPHP\Models\Accounting\Invoice::setContact() must be an instance of XeroPHP\Models\Accounting\Contact, instance of XeroPHP\Remote\Collection given`

I'm loading the c

[2019-04-24 15:17] aamirshakil opened #565 "Signature method invalid"
I am using the below function on a button click for the request token but it shows invalid signature error..

function test_authorize(){

	var consumer_key = document.getElementById('consumer_key').value;
	var consumer_secret = document.getElementById('consumer_secret').value;
	var url = "https://api.xero.com/oauth/RequestToken?";
	var dataString = "oauth_consumer_key="+consumer_key
						+"&oauth

[2019-04-24 16:02] Lawrence72 opened #566 "Unable to fetch Home Address & date of birth in Employee"
When I run the following code

$emp =  $xero->load('PayrollAU\\Employee')->execute();

foreach($emp as $employee){

	$firstname = $employee->getFirstName();
	$lastname  = $employee->getLastName();
	$dob = $employee->getDateOfBirth();
	$address = $employee->getHomeAddress();
	echo $firstname;
	echo $dob;
	echo $address;
}

I can get firstname and last name but not date of birth or home address. I k

[2019-04-25 09:32] timacdonald commented on #565
This issue is not related to this package. This package is a PHP wrapper around the Xero API. You'll need to consult the Xero API docs for help.

https://developer.xero.com/documentation/

...and just a side note - I *really* wouldn't expose your keys publicly via HTML / Javascript, otherwise I can just copy them from your site and start sending invoices / refunds etc from your account 👀

[2019-04-25 09:50] timacdonald commented on #564
Hey Frank,

I've been looping through all an accounts contacts recently myself!

Something to keep in mind is that the `execute()` method will always return a `Collection` of items, even if there is 0 or more matching contacts.

See: https://github.com/calcinai/xero-php/blob/master/src/XeroPHP/Remote/Query.php#L230

In your situation I would probably recommend doing the following checks, to ensure

[2019-04-25 10:02] timacdonald commented on #563
Can you try updating composer? Maybe if you could even share you composer.json file?

I've just booted up a fresh install on my machine and I am able to create the exception without any issues on my end. Seems like it is probable an issue with your autoloader to me.

<img width="633" alt="Screen Shot 2019-04-25 at 8 00 07 pm" src="https://user-images.githubusercontent.com/24803032/56727881-f1bc970

[2019-04-25 10:08] FrankEBailey commented on #564
Hi Tim,

I actually just this morning had a lightbulb moment about the difference between a collection of objects, and the objects themselves, and then it became clear that I should just check inside the collection for the count of matching objects, and if any were found, take the first result indexed at zero. You beat me to writing up the solution here, you speed demon! ;)

Thanks for laying out

[2019-04-25 10:08] #564 closed

[2019-04-25 10:09] timacdonald commented on #564
haha - awesome. glad you got it sorted!

[2019-04-26 10:30] reggieds commented on #409
I got this error when using code from [:](https://github.com/calcinai/xero-php/wiki/Usage-by-example%3A-Accounting%5CContact)

Fatal error: Uncaught Error: Class 'Address' not found in D:\WinNMP\www\xero-php\examples\private.php:47 Stack trace: #0 {main} thrown in D:\WinNMP\www\xero-php\examples\private.php on line 47

[2019-04-26 11:28] codeclouds-team opened #567 "Delivery Instruction not saved in Xero"
Hi I am using `"calcinai/xero-php": "^1.8",` with `"laravel/framework": "5.5.*",`.  I am going to create a purchase order in Xero from a partner application. Everything except delivery instruction saved. Is there anyone facing the same?

Creating Purchase order object :
![image](https://user-images.githubusercontent.com/30057601/56804504-a7deba00-6843-11e9-9887-01d122a5e1e2.png)

Wrapper Class ret

[2019-04-27 05:42] timacdonald commented on #409
Hey,

The file you are referencing does not contain that class: https://github.com/calcinai/xero-php/blob/master/examples/private.php

I'd say you have made your own changes to the file. Make sure you import the fully qualified namespace before you use the `Address` class, i.e.

[code]

[2019-04-27 06:01] dlodhia commented on #563
Composer.json
---- STARTS HERE ------------
{
    "name": "calcinai/xero-php",
    "type": "library",
    "description": "A client implementation of the Xero API, with a cleaner OAuth interface and ORM-like abstraction.",
	"version": "1.8.6",
    "homepage": "https://github.com/calcinai/xero-php",
    "license": "MIT",

    "require": {
        "php": ">=5.5.0",
        "ext-curl": "*",
        "e

[2019-04-27 06:04] timacdonald commented on #563
That is the composer file for this package. Your project needs to have its *own* composer file.

You will need to read over to documentation and find some online tutorials if you are not familiar with composer.

Composer docs: https://getcomposer.org
Introduction to composer: https://scotch.io/tutorials/a-beginners-guide-to-composer

[2019-04-27 09:54] #510 closed

[2019-04-27 13:17] shabaz-ejaz opened #568 "The nonce value "vhkp81fy8e80g8l2k" has already been used"
I've created an auto generating invoice function that has been working fine for so long and then one day I get the following error:

Any ideas why this is? Below is the full log:

[code]

[2019-04-29 01:46] timacdonald commented on #568
This is not an issue with the library, but an issue with having already used the nonce, and the Xero API is returning an error to you.

Refer to the official Xero docs: https://developer.xero.com/documentation/auth-and-limits/oauth-issues and look for the heading **Nonce Used (nonce_used)**

[2019-04-29 08:55] reggieds commented on #409
Is there any real example (full code) to add new invoice?

[2019-04-29 09:01] #520 closed

[2019-04-29 09:06] calcinai commented on #409
Try something like

`
use XeroPHP\Models\Accounting\Invoice;

$invoice = new Invoice($xero);
$invoice->setDate(new DateTime())
    ->setDueDate(new DateTime());

$lineItem = new Invoice\LineItem();
$lineItem->setDescription([description])
    ->setQuantity([quantity])
    ->setAccountCode([account])
    ->setUnitAmount([amount]);

$invoice->addLineItem($lineItem)
    ->save();
`

Have a look at th

[2019-04-29 09:17] reggieds commented on #409
How to combine with existing contact or new contact?

I got this error:
`Fatal error: Uncaught XeroPHP\Remote\Exception: XeroPHP\Models\Accounting\Invoice::$Contact is mandatory and is either missing or empty.`

My Code:
`<?php
require '../vendor/autoload.php';

use XeroPHP\Application\PrivateApplication;

$config = [
    'oauth' => [
        'callback' => 'http://localhost/',
        'consumer_ke

[2019-04-30 10:25] futurewebsites commented on #189
I am trying to allocate a credit note to an invoice like so:

`public function allocateCreditNote($creditNote, $invoice, $amount, $date){

		$xeroCreditNoteAllocation = new Allocation($this->xero);
		$xeroCreditNoteAllocation->setInvoice($this->getInvoice($invoice))
			                     ->setAppliedAmount((float)$amount)
								 ->setDate(\DateTime::createFromFormat('Y-m-d',$date))
								 ->

[2019-05-01 06:24] #568 closed

[2019-05-01 06:24] #565 closed

[2019-05-01 06:24] #563 closed

[2019-05-01 06:24] #562 closed

[2019-05-01 06:25] #423 closed

[2019-05-01 06:25] #265 closed

[2019-05-01 06:25] #262 closed

[2019-05-01 06:25] #168 closed

[2019-05-01 06:26] #171 closed

[2019-05-02 10:02] aamirshakil opened #569 "create contact after getting oauth_verifier"
I have successfully integrated my application with xero public application and i got oauth_token and oauth_verifier but i am confused that how to use oauth_verifier to create contact in xero..

[2019-05-02 12:05] AndyTurff commented on #569
Here's what I use...
`use XeroPHP\Application\PrivateApplication;

require 'C:\Apache24\htdocs\xero\vendor\autoload.php';
include ('C:\Apache24\htdocs\xero\vendor\config.php');

$xero = new PrivateApplication($config);

$contact = new \XeroPHP\Models\Accounting\Contact($xero);

$contact
    ->setFirstName($firstName)
    ->setLastName($lastName)
    ->setEmailAddress($email)
    ->addAddress(

[2019-05-02 13:09] aamirshakil commented on #569
@AndyTurff dear your example provides the solution for private application. i just wanted to know how to make a config file for public application to create or fetch any contact..

[2019-05-02 14:39] #569 closed

[2019-05-02 14:42] aamirshakil opened #570 "how to pass access token in config array?"
Is there any example of how to pass access token and secret for public application construct function..
$config = [
 'oauth' => [
 		'token'=>$oauth_data['xero_oauth_access_token'],
		'token_secret'=>$oauth_data['xero_oauth_access_token_secret']
		 ]
];
$xero = new PublicApplication($config);

$response = $xero->load('Accounting\\Contact')->execute();

[2019-05-05 04:53] kashifau opened #571 "Remove payments from partially paid invoice"
I want to update (add late payment fee) an invoice which is partially paid. Reading similar posts hinted to remove associated payments first and then update the invoice. What is the best way to remove an associated payment then update invoice and then associate that payment back to invoice?

[2019-05-05 10:12] djvmax opened #572 "Add Contact Person only add the first"
Hi,

I try to create new contact person to a contact existing and when there is not any contact person is good the process is adding the new contact person but if I have a contact person added and try to add a new one the existing contact person data is update and I loose the old one.

To do this I use this code:

                    $contactPerson = new \XeroPHP\Models\Accounting\Contact\ContactP

[2019-05-09 10:55] tymolls opened #573 "BatchPayments model for creating batch payments"
Hi,

Are there any plans to create a Model for the Xero BatchPayments API?

https://developer.xero.com/documentation/api/batch-payments

Thanks,

[2019-05-09 18:27] calcinai commented on #573
@tymolls If you're interested, feel free to make a PR with a model for this.  You can base it off one of the existing ones for the Accounting API.

[2019-05-10 23:09] wasimakaram commented on #537
Yes I need it. Please help me

[2019-05-10 23:12] wasimakaram commented on #537
Please do it as soon as possible. We really thankful to you sir

[2019-05-10 23:14] calcinai commented on #537
@wasimakaram Sorry I don't have time to do this right at the moment. If you're pressed for time, feel free to create some models for it–I don't think it'll take much else.

[2019-05-10 23:16] wasimakaram commented on #537
@calcinai  I tried a lot but I am failed. Can you please manage your time? Its your kindness

[2019-05-16 07:07] oldfumbler opened #575 "xero api php sdk 4 decimal places"
Hi,
Using Xero in the past we have created invoices with a unit price of 6.667. This is due to the customer having 3 items @ 6.667 ea which provides an invoice total of $22.00 inc gst. (cash transaction, no silver)

We have created these (and other "odd" value) invoices manually via the Xero UI and using the csv file import process for batch creation of invoices, without issue.

To make our operat

[2019-05-16 08:31] Josh-G commented on #575
You can specify the `unitdp` like so:

[code]

[2019-05-16 10:43] Abhayraj7ingh opened #576 "request to apply a payment service to a branding theme"
Add support API in calcinai/xero-php for apply a payment service to a branding theme
POST https://api.xero.com/api.xro/2.0/BrandingThemes/{BrandingThemeID}/Payment.Services
{
"PaymentServices": [{
  "PaymentServiceID": "0751da5f-8b28-4f93-b05e-1b85bedfd900"
  },
  {
    "PaymentServiceID": "7f0f43b1-9ba9-4ba4-a785-e677652c7d7e"
  }]
}

[2019-05-17 00:26] #576 closed

[2019-05-17 00:27] #575 closed

[2019-05-17 03:47] Abhayraj7ingh commented on #576
Hi @calcinai ,
 Can you provide the solution?

[2019-05-22 07:37] iseayam-webpoint opened #577 "Post Batch items"
Xero API has a feature to send items in bulk
"You can create or update a maximum of 500 items per request, although we recommend batches of 50-100 to optimise effeiciency.".
I've seen in your API docs that you have saveAll() method but you don't define how to use this.

Can you help on urgent basis please because we are facing a big issue when sending items as it is reaching the API rate limit and

[2019-05-27 11:27] FrankEBailey opened #579 "Removing/deleting an attachment through the client?"
Is there a way to delete an attachment identified with getAttachments() directly within the same context? I haven't been able to identify a way in the documentation, but I might be looking against my eyelids as is often the case.

Thanks in advance!

[2019-05-27 18:39] calcinai commented on #579
I don't think so, unfortunately. I believe you can override but not delete.  It might be worth emailing Xero to ask?

[2019-05-27 18:39] #579 closed

[2019-05-28 15:52] johnshepherd opened #580 "Sending invoice emails returning 411"
Hi!

We have been creating invoices and sending out invoices for months without issue, however I noticed that the emails have recently stopped sending. The requests don't throw any exceptions and just fail silently. They also do not show in the API history on Xero itself. If I `print_r` the `$request->send()` in `SendEmailTrait` I see that the HTTP response code is 411 and the body returned is:

[

[2019-06-05 02:21] gurubobnz commented on #335
Can confirm this - to test allocating an overpayment to invoices I was allocating a dollar at a time to an invoice. The first allocation sent one, the second sent two (overpayment now had three allocations on it), the third sent three (overpayment now had six on it) and so on.

This terribly naive PR will fix it, but probably breaks the collection somehow https://github.com/calcinai/xero-php/compa

[2019-06-05 06:40] nelwa commented on #27
In the example above that sends all the contacts at once like this:

How do you get the ContactID for each sent contact?

[2019-06-05 08:31] Josh-G commented on #335
Does it work if you remove all items from the allocations collection first? Based on the original code sample:

[code]

[2019-06-06 07:01] andrews05 commented on #4
Has there been any progress on this or v2.0?

[2019-06-06 07:04] calcinai commented on #4
@andrews05 Funny you should ask, I met with Xero last week and there might be some changes coming up. It  sounds like they're hoping to base their SDKs completely from the OpenAPI spec.

I've been thinking about what this means for xero-php, and there'll probably still be space for it as the ORM layer, as this won't be able to be generated.

Thoughts?

[2019-06-06 07:22] andrews05 commented on #4
I'm afraid I don't really know much about OpenAPI or what that would mean here. I do like the idea of the ORM layer though.
I'm actually still using the old XeroOAuth library at the moment. I've held off on switching to this one due to these mentions of a v2.0 being close - didn't want to end up going through a second transition. Hard to hold off much longer though, as I'm really getting sick of u

[2019-06-06 11:03] judgej commented on #4
The approach we have taken for a project is to generate a PSR-18 client and all the models from the OpenAPI spec, and it seems to work quite well. I'm still grappling with the workflow and a few features, but essentially:

* We have a PSR-18 Xero client that handles all the auth and token refreshes.
* The generated code accepts the PSR-18 client to do its communications, so it does not itself get

[2019-06-07 02:15] kashifau commented on #571
Any comments on the issue?

[2019-06-07 02:17] kashifau opened #583 "Invalid email address when pushing an invoice"
When I push an invoice to xero and if the email address contains the letters "fi" then I get an error that it's an invalid email address. If I go back to database and rewrite the email address then the error goes away. How can I get rid of this error?

[2019-06-10 05:06] codeclouds-team opened #584 "Tracking category option not creating"
Hi, I am trying to create a tracking category and few options for that category. But I am failed to attach tracking options to the category.

**Steps:**

* creating a tracking category bt `XeroPHP\Models\Accounting\TrackingCategory` model.
* Saving Xero id for that category.
* Creating an instance of `XeroPHP\Models\Accounting\TrackingCategory\TrackingOption`
* At the of attaching options, adding

[2019-06-12 09:54] judgej commented on #4
To follow up my last comment, I have some working packages now. The client just supports the Partner app for now, and is PSR-18 so asynchronous API calls are still something I'm mulling over, but feel free to take a look at the work in progress. I'm using this for a project now, and hopefully it will be clean enough for an official release by the time that project goes live.

Operations and models

[2019-06-18 08:00] calcinai commented on #571
@kashifau How are you getting on? Does ti work to just update the payment property in the invoice?

[2019-06-18 08:00] calcinai commented on #583
Have you looked at the API history to get more information on the payload and error? Are you sure there are no special characters?

[2019-06-19 03:09] anujtaya opened #585 "Timesheet: Unable to load a timesheet using its GUID. All properties are returned as null."
I am unable to retrieve a Timesheet using its GUID. I wanted to add more timesheet lines to the existing timesheet. Unfortunately, I have followed every step out there on the internet. Please fix this issue.

[2019-06-19 08:11] kashifau commented on #571
Still haven't been able to solve the issue. Just wondering what is the method to remove a payment from an invoice.

[2019-06-19 08:29] kashifau commented on #583
I also thought there are some special characters but examining the emails doesn't show any special symbols, just for some reason its considering corresponding letters (e.g. pi, fi, etc) inside an email address as special characters. Deleting the email and rewriting by hand in the database fixes the issue.

[2019-06-19 13:26] atf2 commented on #364
I have just run into the same problem, in my case trying to query on ContactID.  I have worked around the problem using tonexv's second solution but would prefer it if you could get the 2-argument version working.  The proposed regex /^([a-z]+)(\.\1)?ID$/i suffers from recognising elements such as "AmountPaid" but I guess that is mitigated by also insisting the second argument looks like a GUID.

[2019-06-19 19:33] #585 closed

[2019-06-19 19:33] #583 closed

[2019-06-28 10:58] lawipac commented on #585
I have similar issues using latest code, the only way to workaround is is not to use
[code]
but  instead using:
[code]

[2019-06-28 13:09] lawipac opened #586 "updating existing timesheet entries"
cannot update existing timesheet entries, for example changing status.  Xero's ApiPreview can do it with complete XML body, but our SDK only have limited entries, and it complains 'EmployeeID is not provided'.

[code]
if we set EmployeeID, it gives 500 error.

[2019-06-28 14:29] lawipac commented on #586
are there any way to mark every field of a timesheet as 'dirty' so that a complete XML request can be built.

[2019-06-28 16:06] lawipac commented on #586
[code]

[2019-06-28 16:07] #586 closed

[2019-07-01 04:06] gurubobnz commented on #335
Hi there - yes, this works just fine. Will see if I can do a PR for it. Cheers.

[2019-07-03 04:17] JeRoNZ opened #588 "getAccountsPayableTaxType() returns NULL even when set"
getAccountsPayableTaxType() etc are returning null when perhaps they should be returning the values shown in Xero

[code]
getName, get AccountNumber return the expected values, but the others return NULL.

![Capture](https://user-images.githubusercontent.com/3641329/60562936-b7333400-9dad-11e9-8692-7b96420507dc.PNG)

Am I missing something here?

[2019-07-03 08:50] timacdonald commented on #588
Give the query a spin in the API previewer and confirm the data is being returned from Xero correctly.

https://app.xero.com/Preview/contacts

Select the "Contacts" endpoint and in the "where" field put
[code]

[2019-07-03 09:42] JeRoNZ commented on #588
It would appear it doesn't even bother with the fields, let alone the values. This seems rather different to what I'm lead to believe should be available when I look at https://developer.xero.com/documentation/api/contacts. It seems to skip SkypeUserName, BankAccountDetails, TaxNumber, AccountsReceivableTaxType and AccountsPayableTaxType  all of which should appear between EmailAddress and Address

[2019-07-03 09:42] #588 closed

[2019-07-05 13:56] Ishanluminoguru opened #603 "The nonce value "17dpf8ylxnc0c4gyuf" has already been used"
Getting The nonce value "XXXX" has already been used.
I have checked the xero documentation for the same [here](https://developer.xero.com/documentation/auth-and-limits/oauth-issues).

Is this issue with the function that is being used to create nonce or is there any issue on my end.

[2019-07-06 21:06] gkavaliu commented on #584
I did some testing and I believe this is because

TrackingOption is not an endpoint in Xero it is actually Option

PUT https://api.xero.com/api.xro/2.0/TrackingCategories/{TrackingCategoryID}/Options

[2019-07-08 19:16] wilsonwc commented on #537
Working on it for a project I am completing now, I'll submit a PR when its done

[2019-07-09 15:24] FrankEBailey opened #604 "Adding address gives no error but address is not added"
Following the "usage by example" page in the Wiki works well for adding a mobile number to a contact, but when I try to add an address it appears to succeed (no error is given) however the address is not added.

I've checked that the data in $custaddress as used below is present and correct.

My code is as follows:

[code]

Am I doing anything obviously wrong here?

Thanks in advance!

[2019-07-10 03:33] timacdonald commented on #604
This is how I'm creating an address. Adding it just the same as you are. Only thing that jumps out to me
is that I'm doing `->setAddressType(Address::ADDRESS_TYPE_POBOX)`. Maybe you need to specify a type?

[code]

[2019-07-10 15:49] FrankEBailey commented on #604
Thanks Tim, that's sorted it!

[2019-07-10 15:49] #604 closed

[2019-07-11 11:19] Godwin-Richard commented on #409
i tried to Create new invoice using the above code but it gives me following Error

Fatal error: Uncaught exception 'XeroPHP\Remote\Exception' with message 'XeroPHP\Models\Accounting\Invoice::$Type is mandatory and is either missing or empty.'

$invoice = new Invoice($xero);
$invoice->setDate(new DateTime())
    ->setDueDate(new DateTime());

$lineItem = new Invoice\LineItem();
$lineItem->setDescr

[2019-07-11 12:29] Godwin-Richard opened #605 "Fatal error: Uncaught exception 'XeroPHP\Remote\Exception' with message 'XeroPHP\Models\Accounting\Invoice::$Contact is mandatory and is either missing or empty.' in /home/active35/opend/vendor/calcinai/xero-php/src/XeroPHP/Remote/Model.php:362 Stack trace: #0 /home/active35/opend/vendor/calcinai/xero-php/src/XeroPHP/Application.php(278): XeroPHP\Remote\Model->validate() #1 /home/active35/opend/vendor/calcinai/xero-php/src/XeroPHP/Remote/Model.php(406): XeroPHP\Application->save(Object(XeroPHP\Models\Accounting\Invoice)) #2 /home/active35/opend/public_html/vendor/calcinai/xero-php/src/XeroPHP/public.php(203): XeroPHP\Remote\Model->save() #3 {main} thrown in /home/active35/opend/vendor/calcinai/xero-php/src/XeroPHP/Remote/Model.php on line 362"
Fatal error: Uncaught exception 'XeroPHP\Remote\Exception' with message 'XeroPHP\Models\Accounting\Invoice::$Contact is mandatory and is either missing or empty.' in /home/active35/opend/vendor/calcinai/xero-php/src/XeroPHP/Remote/Model.php:362 Stack trace: #0 /home/active35/opend/vendor/calcinai/xero-php/src/XeroPHP/Application.php(278): XeroPHP\Remote\Model->validate() #1 /home/active35/opend/ve

[2019-07-11 12:40] Godwin-Richard commented on #605
i am trying to create invoice using the following code

$invoice = new Invoice($xero);

$invoice->setType('ACCREC')
->setDate(new DateTime())
    ->setDueDate(new DateTime());

$lineItem = new Invoice\LineItem();

$lineItem->setDescription(['Test Invoice'])
    ->setQuantity(['11'])
    ->setAccountCode(['1213'])
    ->setUnitAmount(['2132']);

$invoice->addLineItem($lineItem)->save();

i get the

[2019-07-11 21:31] anushkanz opened #606 "Public app can't connect"
`<?php
require 'vendor/autoload.php';
use XeroPHP\Remote\URL;
use XeroPHP\Remote\Request;
use XeroPHP\Application\PublicApplication;
// Start a session for the oauth session storage
session_start();
//These are the minimum settings - for more options, refer to examples/config.php
 $key = "-----BEGIN RSA PRIVATE KEY-----
Xn2BvJb298JEM5AE
-----END RSA PRIVATE KEY-----";
$config = [
    'oauth' => [

[2019-07-12 01:46] #605 closed

[2019-07-12 01:46] #606 closed

[2019-07-13 00:14] anushkanz commented on #606
Why you are closing this without giving the answer? .....

[2019-07-13 00:16] calcinai commented on #606
@anushkanz can you please explain exactly what isn't working.  Have you tried using the sample php files without editing them?

[2019-07-14 09:03] timacdonald commented on #409
The error message here is letting you know the issue. Specifically

[code]

[2019-07-14 20:50] anushkanz commented on #606
@calcinai, You really think I am idiot use your code without anything. I am just trying to do what instruction you provide.
Last picture I was uploaded, its show what is the error I got.

[2019-07-14 23:04] timacdonald commented on #606
He doesn’t think your an idiot - but your post is incomprehensible and doesn’t describe the problem or what you have done to try and make it work so far.

Just a heads up that the error message in the image you put in the original post contains the error. Your token is wrong so Xero is not Authorizing the request.

[2019-07-15 01:18] timacdonald commented on #529
This has already been implemented on the Invoice model via the `PDFTrait`.

[code]

[2019-07-15 01:19] timacdonald commented on #570
Check out this example: https://github.com/calcinai/xero-php/blob/master/examples/public.php#L11-L22

[2019-07-15 01:43] #529 closed

[2019-07-15 01:43] calcinai commented on #529
thanks @timacdonald

[2019-07-15 02:05] anushkanz commented on #606
Hey never mind, I changed my development language PHP to Node Js, Not required for connecting with this way, Not working properly and not given proper information.
Node js I manage to connect without any issue.
Thanks for all

[2019-07-15 02:06] timacdonald commented on #606
Glad you got it sorted.

[2019-07-15 02:06] calcinai commented on #606
@anushkanz That's fantastic news. Glad to hear you got something to work in the end.

[2019-07-19 09:17] lvsan opened #607 "Create Item and Update Item using xero-php"
I have a issues when the item already created and save by batch using ->saveAll,
there is no ItemID is return and therefore, I not able to do the updateItem for some information.

Or there is another way to do the update for particular item?
However, if i use the ->save(), then there is ItemID is return.

	public function actionUpdateItem()
	{
		$str = '';
		$xero = $this->xeroPHP();
		$new = $thi

[2019-07-22 22:32] richinnz opened #608 "getLineItemID function not present"
In class XeroPHP\Models\Accounting\RepeatingInvoice\LineItem.php when I want to get hold of the LineItemID it always returns blank - just adding the following function resolves it - is this missing or am getting this value the wrong way?

    `public function getLineItemID()
    {
        return $this->_data['LineItemID'];
    }`

[2019-07-24 04:33] timacdonald commented on #607
Are you saying that when you call `->save()` it sets the `ItemID` on the model, but when you call `->saveAll()` it *does not* set the `ItemID` on the model?

[2019-07-24 04:52] lvsan commented on #607
Hi timacdonald,

yes, I have this issues previously, anywhere I have check this is cause by my code and this is settle already. the xero-php is working fine. now I try another function for update contacts for the address, but seem not working now.

[2019-07-25 03:23] #607 closed

[2019-07-25 03:32] lvsan opened #609 "POST the Contacts with addAddress not working"
Hi,
I try to post the contacts to xero to update the address information, but this is not success.
I integrate the xero-php with Yii2 frameworks.
Below is my sample code:

			foreach ($rows as $rowData) {
				$contacts = $this->xeroContacts();
				$addresses =  $this->xeroContactAddress();
				$phoneses = $this->xeroContactPhones();
				$isSupplier=false;
				$isCustomer=false;

				//add address

[2019-07-25 04:46] timacdonald commented on #609
`setIsCustomer` and `setIsSupplier` are both deprecated and they do not return `$this` - they return `null`, so that is why you are getting the error. Take a look at the methods in the source code to see more.

[2019-07-25 10:02] lvsan commented on #609
hi timacdonald, thanks for your prompt response and advise.

[2019-07-31 03:25] Alphonseabraham commented on #16
Hi calcinai,

[code]
Can you look into this? This commit to set a contact group to a contact is not working. It keeps saying archive contact cannot be grouped. However, if we used your code below to set contactgroup its working.

[code]

Thanks,
Alphonse

[2019-07-31 09:00] lvsan opened #611 "Argument 1 passed to XeroPHP\Models\Accounting\Invoice::addLineItem()"
Hi,
I have a issues when addLineItem with array values which I wish to pass the multiple lineitem for the invoices.

Argument 1 passed to XeroPHP\Models\Accounting\Invoice::addLineItem() must be an instance of XeroPHP\Models\Accounting\Invoice\LineItem, array given,

Can anyone assist me how can I add multiple line for the invoices create?

Thanks.

[2019-07-31 09:02] calcinai commented on #611
@lvsan You need to iterate your array of LineItems and call `addLineItem()` for each one.

[2019-07-31 09:05] calcinai commented on #16
@Alphonseabraham Are you sure you're not creating a new contact in the second block of code?

[2019-07-31 09:36] lvsan commented on #611
@calcinai,

below is my code for the lineitems. I have populate in into the array.
	public function getLineItemForInvoice($id)
	{
		$connection = Yii::$app->db;
		$lineitems=[];

		$sql="...…..";
               $rows = $connection->mysqli_queryAll($sql);
		if($rows !=false )
		{
			foreach ($rows as $rowData) {
				$lineitem = $this->xeroInvoiceItemLine();
				$lineitem->setDescription($rowData['I

[2019-07-31 09:57] pjw345 commented on #611
Ivan,

That's the point - you cannot add an array of lineitems to the invoice, you have to add each lineitem individually.

So where you have $lineitems[] = $lineitem; replace it with $invoice->addLineItem($lineitem);

Does that make sense?

[2019-07-31 10:08] FrankEBailey opened #612 "RemoveAll() doesn't work reliably on Invoice LineItems :("
I create a new invoice via the API. If I could create a totally blank invoice I would, since I need to reserve the Invoice Number for a particular job in our system. Xero-PHP insists that at least one LineItem is needed, though, so I add a single LineItem and save the Invoice.

I then LoadByGuid the invoice I've just created and run LineItems->RemoveAll() and save the invoice. I check on Xero and

[2019-08-01 00:28] Alphonseabraham commented on #16
@calcinai ,

This is my code for getting the contact to add a contact group. I have commented the setName code because I think it was trying to create another contact with the same details which prompted me with the error "Unable to assign an Archived contact". Is there any way we can update the customer contact if they want to update their name.

[code]

Thanks,
Alphonse

[2019-08-01 01:30] lvsan commented on #611
@pjw345 , thanks for your advise. I have successfully figure out how to code it.
Thanks a lot.

[2019-08-01 01:30] #611 closed

[2019-08-01 07:50] lvsan opened #613 "getContacts include Archive"
Hi,

How can I load the parameter to getcontactid from contacts include the archive?
Below is my code to get the contactid include where condition.

$contact = $xero->load('Accounting\\Contact')->where('Name=="' . $name . '"')->execute();

hope someone can advise me.

Thanks.

[2019-08-01 10:03] Josh-G commented on #613
You can call `includeArchived` on the query to get archived contacts as well.
Example:
[code]

[2019-08-01 10:52] discover59 commented on #520
@calcinai sometimes sendEmail functions calls invoice email api twice and as a result I got error
[code]

I checked xero api history and it has two times of api call for same invoice.
Please let me know what the problem can be.

[2019-08-01 15:49] tymolls commented on #573
Hi @calcinai , do you have a easy guide on how I can do this.

Really good at following documentation, but not so great at figuring stuff out myself :-(

[2019-08-01 20:11] tymolls commented on #425
This works great. Thank You

[2019-08-01 20:11] #425 closed

[2019-08-02 01:32] lvsan commented on #613
@Josh-G , thanks for your helping. I have able to get the contact id from xero now.
Thanks a lot and it is really helpful.

[2019-08-02 01:32] #613 closed

[2019-08-02 14:03] FrankEBailey opened #615 "Deleting an Invoice doesn't work?"
I check for the existence of an Invoice, and if it exists, I want to delete it so I can recreate it. The Invoice, if it exists, has a status of DRAFT. So I'm using the below code to delete the Invoice, but despite it throwing no errors or exceptions, the Invoice retains its DRAFT status and is not deleted. Am I doing something wrong?

		$checkBill = $xero
			->load('Accounting\Invoice')
			->where

[2019-08-02 14:12] FrankEBailey commented on #615
False alarm

[2019-08-02 14:12] #615 closed

[2019-08-02 15:26] gleighfield opened #616 "Does sendEmail() work with saveAll() ?"
Is it possible via the API to not only save all my invoices being made with one API call but to tell it to email them also?

I'm creating 100+ invoices once a month, and hitting into API limits currently, would be great to have one call to not only create them (currently working just fine) but to email them also!

Maybe something like the below?

`$xero->saveAll($invoices)->sendEmail();`

Many tha

[2019-08-03 01:56] timacdonald commented on #616
Unfortunately the Xero API (from what I can see) only allows sending one invoice per request.

See: https://developer.xero.com/documentation/api/invoices#email

I've have also wrestled with the api limits and I know many others have as well. There are 2 api limits imposed by Xero:

- Minute Limit: 60 calls in a rolling 60 second window
- Daily Limit: 5000 calls in a rolling 24 hour window

See: ht

[2019-08-04 21:20] gleighfield commented on #616
Hi Tim,

Thanks for taking the time to get back to me - it's greatly appreciated.

Your comments mimic the research I've done in the interim. Which isn't ideal. Basically, we want to handle the invoice generation through our CRM, and use Xero to fulfil.

It seems every route I go down, I run into obstacles! All we're trying to do, is once a month, send out on brand invoices, with the PDF attached.

[2019-08-04 22:15] calcinai commented on #520
@discover59 Can you look at your application logs locally and see if you're unintentionally calling that function twice?  This has caught people out before when they use a GET request to send the email and the browser calls it twice.

[2019-08-05 05:07] lvsan opened #617 "Error when use loadbyGUID to found item"
Hi

I have a issues on get the item from xero using below code:

				$item = $xero->loadByGUID('Accounting\\Item', $guid);  ==> here is the error found
				try {
					//$item->delete();
				} catch (NotFoundException $exception) {   // never come to here

					// handle not found error
					print_r($exception);
					print_r($item->toStringArray());
				} catch (RateLimitExceededException $exceptio

[2019-08-05 05:42] timacdonald commented on #617
This means that whatever resource you are trying to load by guid, i.e. Accouting\Item, does not exist in Xero. It is a standard 404 response.

[2019-08-05 06:06] lvsan commented on #617
Hi timacdonald,

I know that it is because the id that I pass cannot be found in the xero. but the problem I facing is I not able to get the response from the catch, and the error I found is from yii2 app.log under runtime folder.

In this way, I cannot pass the correct message to users that the records is not found.

$item = $xero->loadByGUID('Accounting\\Item', $guid);
the command above should b

[2019-08-05 06:30] timacdonald commented on #617
From your original snippet, the `loadByGUID` method is not being called in the try / catch block. You need to put the call in the try block to be able to catch the exception.

[code]

[2019-08-05 07:12] lvsan commented on #617
Hi timacdonald,

I have try it  but the result still the same which I still not able to get the response.
Below is the amended code :

try {
	$guid = $rowData['ItemSKU'];
	$item = $xero->loadByGUID('Accounting\\Item', $guid);
} catch (NotFoundException $exception) {
					// handle not found error
					print_r("y7yuyiuyiuyiuyiu");
} catch (RateLimitExceededException $exception) {
// handle rate lim

[2019-08-05 07:14] timacdonald commented on #617
could be that you are not importing the exception class.

[code]

[2019-08-05 07:20] calcinai commented on #617
Didn’t you write [a blog post](https://timacdonald.me/php-be-all-like-that-nonexistent-class-be-cool/) about this, Tim?

[2019-08-05 07:35] lvsan commented on #617
Hi timacdonald,

thanks you for your advise. Yes now I able get the correct response now.
The issues is causing by the exception class which I never import.

after amend it as below :
try {
					$guid = $rowData['ItemSKU'];
					$item = $xero->loadByGUID('Accounting\\Item', $guid);
				} catch (\XeroPHP\Remote\Exception\NotFoundException $exception) {
					// handle not found error
					print_r("y

[2019-08-05 07:38] timacdonald commented on #617
Oh yea haha, for this exact reason lol.

For future readers: https://timacdonald.me/php-be-all-like-that-nonexistent-class-be-cool/

[2019-08-05 07:44] lvsan commented on #617
Hi timacdonald,

ok noted with thanks.

[2019-08-05 07:44] #617 closed

[2019-08-05 07:46] timacdonald commented on #617
@lvsan glad u got it sorted.

[2019-08-06 16:51] gleighfield opened #618 "Building a where statment dynamically?"
I can see in the docs you can construct a query like so...

[code]

I need to build a statement querying from an array of values, I've got the below, however, it just fails every time with fatal errors.

[code]

Thanks in advance.

[2019-08-07 09:15] taymjay commented on #433
Hi! Could you please share how you resolved the issue? Thank you!

[2019-08-07 09:52] gleighfield commented on #618
So did a little bit more digging, and found a solution.

What they don't tell you in the Xero docs, is that when applying filters everything if you go over the request limit, you get an error...

So, below is my solution. $pendingInvoices is just an array of ID's. In my code I'm searching against Reference. I'm limiting each query to 40.

When complete $xeroInvoicesToCheck is filled with Xero obje

[2019-08-07 10:01] #618 closed

[2019-08-07 16:26] jgirgis85 commented on #433
@taymjay that solution worked for me

https://thisinterestsme.com/php-curl-ssl-certificate-error/

[2019-08-08 03:09] taymjay commented on #433
@jgirgis85 Awesome! Thank you!

[2019-08-11 23:22] tobz-nz commented on #568
I get this error occasionally as well.
Isn't the nonce generated by this package? I am not doing it anywhere and everything works most of the time - only occasionally getting this error.

Feels like it IS something to do with with the library.

[2019-08-11 23:38] timacdonald commented on #568
Could someone provide a code sample where this error is being triggered for you so we can see what is happening under the hood?

[2019-08-12 01:24] kleisto opened #620 "Invoices "createdByMyApp" filter functionality"
I'm currently implementing an Invoices integration using this library. I can see in the Invoices API documentation that Xero supports a "createdByMyApp" optional parameter for calls to Invoices/GET, however I can't work out how to implement this parameter.  If I try to use it as a 'where' parameter, I get "No property or field 'createdByMyApp' exists in type 'Invoice'". eg.
[code]
Likewise with ot

[2019-08-12 03:47] tobz-nz commented on #568
Here's a snippet of code from my project:

[code]

This works fine most of the time.

[2019-08-13 13:01] mcabanatan commented on #433
Hi @jgirgis85  @calcinai

https://thisinterestsme.com/php-curl-ssl-certificate-error/ this allow the curl to succeed but there is no data returned.

![image](https://user-images.githubusercontent.com/13269508/62943570-5e73a400-be0d-11e9-974a-a586c46bed6f.png)

[2019-08-13 19:21] jgirgis85 commented on #433
@mcabanatan Did you try any different call. some methods are deprecated and modifiedAfter might be one of them try without it and see if you get any invoices.

Also, check the error log to see whats the error after adding the CRT file it might be a different error now.

[2019-08-13 22:52] discover59 commented on #520
@calcinai No, it's triggered in cron job. And before sending email it creates invoice.
Since invoice number is unique, the whole snippect can't be called twice and so for sending email.

[2019-08-14 01:24] mcabanatan commented on #433
@jgirgis85  modifiedAfter definitely works cause i have same code in our production.

https://thisinterestsme.com/php-curl-ssl-certificate-error/  what configurations did you follow from this site to make it work? I tried adding the cacert location in curl request but it doesnt work as well and mod_ssl is enabled already in apache.
![image](https://user-images.githubusercontent.com/13269508/629879

[2019-08-14 04:59] mcabanatan commented on #433
@jgirgis85

For some reason  I was able to use again the api. Maybe its something in the xero api and not in the api wrapper or curl.  Maybe they're trying out something else.

[2019-08-14 05:53] jgirgis85 commented on #433
@mcabanatan Great glad you can sort it out at the end.

[2019-08-14 08:09] jarodsmk commented on #577
@iseayam-webpoint - did you ever get to implement this?

*Bump*

[2019-08-14 08:34] Josh-G commented on #577
@jarodsmk this line in the README should clarify how to use `saveAll()`:

[2019-08-15 02:51] tobz-nz commented on #603
Duplicate of #568

I think its an issue in this library, not sure yet though.
I'm getting it when trying to send a new invoice via email. Pretty sure its always on the email call.
Have not had the time to dig into it more.

[2019-08-15 05:19] timacdonald commented on #603
Please see this draft PR to try and address the issue. Would be good if you could test this and reply in the comments if it is working as expected for you: https://github.com/calcinai/xero-php/pull/621

[2019-08-15 05:20] timacdonald commented on #568
Please see this draft PR to try and address the issue. Would be good if you could test this and reply in the comments if it is working as expected for you: https://github.com/calcinai/xero-php/pull/621

[2019-08-15 11:52] mcabanatan commented on #433
I cant call again the API for some reason. :(

[2019-08-15 18:43] calcinai commented on #620
Are you able to show how you'd do this in the API usually, or what this translates to in the Xero docs?

[2019-08-15 18:46] calcinai commented on #616
@gleighfield Have you tried contacting Xero directly? They might (at least functionally) have an idea on how to achieve this.

If it's possible with the API, we can make it work here

[2019-08-15 18:48] calcinai commented on #612
Did you figure this out?  It'll be the same request that occurs in all cases...

When it doesn't work, does it throw an exception?

[2019-08-15 18:48] #609 closed

[2019-08-15 18:49] calcinai commented on #608
@richinnz It's possible that originally this was not in the documentation so was missed fro this library.  Feel free to submit a PR to add it.

[2019-08-15 18:51] calcinai commented on #603
@tobz-nz are you deferring/queuing the email creation?  As it's currently based on time, both requests must be being signed at EXACTLY the same time!

[2019-08-15 18:55] gleighfield commented on #616
Hi @calcinai

Tried them, all I got was a "not possible".

There are so many inconsistencies with their email sending methods. Sending a single through there UI works with HTML, sending bulk from their UI doesn't. Sending an email through their API doesn't, and also (as we found out yesterday) their invoice reminder emails arn't formatted either.

Such a shame thatt such a basic piece of HTML form

[2019-08-15 23:32] kleisto commented on #620
From https://developer.xero.com/documentation/api/invoices:

Optional parameters for GET Invoices

**IDs, InvoiceNumbers, ContactIDs, Statuses**
 Filter by a comma-separated list of InvoicesIDs, InvoiceNumbers, ContactIDs or Statuses. For faster response times we recommend using these explicit parameters instead of passing OR conditions into the Where filter. e.g. GET https://.../Invoices?Statuses

[2019-08-16 00:28] tobz-nz commented on #603
@calcinai No I'm not queueing email email.

I create the invoice then send email right away in he same method.

[2019-08-16 01:43] calcinai commented on #620
Ah yes! You should be fine to use the `setParameter()` method instead of where.

[2019-08-16 02:00] kleisto commented on #620
Great! Missed that functionality, thanks so much for clearing that up. I can confirm this works for anyone else looking.

eg.

[code]

[2019-08-16 02:00] #620 closed

[2019-08-16 03:56] Healyhatman opened #622 "$EarningsRate->save() does nothing"
I'm trying to save a new EarningsRate to Xero and nothing's happening. If I set all the required values and save(), the response is null and as far as I can tell the request is never actually sent. There are no errors or exception, and API History is blank.

`$rate = new EarningsRate($xero);
            $rate->setAmount(10.00)
                ->setIsExemptFromSuper("true")
                ->setIsE

[2019-08-16 06:02] Healyhatman commented on #622
Update: I figured out that you can't just save an EarningsRate, you need to get the PayItems and add an earnings rate to that, and then save the PayItems.

I managed to get a 202 response from Xero telling it to saveAll($payItemsArray), but the earnings rate is nowhere to be found. Additionally if I use $payItemsArray[0]->save() I get 'Bad Request'. Response XML:

`<?xml version="1.0"?>
<Response

[2019-08-16 18:07] discover59 commented on #520
@calcinai Do we need new issue for this or are you gonna resolve it here?

[2019-08-17 06:07] mcabanatan commented on #433
The issue was due to our company firewall. Traced it by running  this command:
`openssl s_client -connect api.xero.com:443 -showcerts \`
From https://github.com/amochohan/xerolaravel/issues/1
So yea that was intermittent due to the filter

[2019-08-17 10:41] shabaz-ejaz commented on #568
Not sure how one would accurately test this as it happens occasionally. The tests may pass but when working with real invoices from time to time I did get this problem, out of about 300 invoices generated I got this about twice.

[2019-08-18 04:11] Healyhatman commented on #566
Just in case you hadn't solved this, Home Address is a HomeAddress object and DOB is a DateTime object you can't just echo them.

[2019-08-18 07:36] timacdonald commented on #568
Although it might be hard to prove, we can always flip it around and try and disprove it. Just to be clear - I am _not_ saying this isn't an issue, and I'm not saying this is a proof in itself, but it is fun to try and play with anyway.

I just generated a 100,000 nonces, all consecutively in a loop (as fast as possible) in the same way the library _currently_ does and all 100,000 are unique (ever

[2019-08-19 07:03] lvsan opened #624 "Create Items using xero-php include purchasedetails"
Hi ,
I have try to update the items under xero which to remove the tracked inventory in xero through api. However, I have found out if I pass the value as below :

![image](https://user-images.githubusercontent.com/2595804/63245688-5d21fb80-c293-11e9-8982-ea5de44e4e0b.png)

Then error will show as below from xero api previewer :
![image](https://user-images.githubusercontent.com/2595804/63245850-b

[2019-08-19 07:14] lvsan commented on #624
Hi,

 However, this issues will only happen if the inventory item is create wrongly and have set the tracked inventory = true and COGSAccountCode have value

Thanks.

[2019-08-19 10:08] #624 closed

[2019-08-19 10:27] #566 closed

[2019-08-21 23:41] simerkaur commented on #440
Does it not need to be :
 $TimesheetLines = array("TimesheetLines"=>$TimesheetLine);`

$Timesheet = new \XeroPHP\Models\PayrollAU\Timesheet($xero);
$Timesheet->addTimesheetLine($TimesheetLines);
$Timesheet->save();

[2019-08-25 06:26] alexbogo opened #625 "OAuth 2"
Hi,

Is this package works with OAuth 2?
https://developer.xero.com/documentation/oauth2/overview

Thanks
Alex

[2019-08-27 08:47] gitstashgithub opened #626 "Contact addPaymentTerm() error"
Hi guys,

Anyone has luck on the XeroPHP\Models\Accounting\Contact addPaymentTerm() function? My xero-php is up to date(v1.8.6).
[code]
The error is:
`PHP Notice:  Undefined property XeroPHP/Remote/Model::$.
 in /home/vagrant/projects/devcon/vendor/calcinai/xero-php/src/XeroPHP/Remote/Model.php on line 508`

Thank you for your help.
Gordon

[2019-08-27 16:49] shabaz-ejaz commented on #568
I got this error again a few days ago.

Log:
[code]

Code that generates invoices:

[code]

[2019-08-27 23:07] calcinai commented on #626
@gitstashgithub I can't seem to replicate that specific error.  Are you able to get a stack trace?

[2019-08-27 23:11] calcinai commented on #520
@discover59 it this only happening sometimes? All I can suggest is putting some logging in place to see what part of the code is getting called when it sends twice.

There's no built-in retry logic, so this is definitely on odd one.  The fact that the nonce is duplicated suggests that it's getting called twice at the same time (that nonce bug is actually fixed in #621

[2019-08-27 23:16] calcinai commented on #625
@alexbogo not that this point but it is the plan!

[2019-08-27 23:18] calcinai commented on #537
@wilsonwc thanks!

[2019-08-27 23:47] alexbogo commented on #625
Hi,

Thank you for letting me know. I would be, maybe, interested in helping you out if my current projects allow me some time... to convert it into v2. I am in NZ as well..
I am using OAuth 2 at the moment but just basic calls with Guzzel as a client. The most annoying thing is Xero token life - 12 min.

Cheers
Alex

[2019-08-28 03:36] gitstashgithub commented on #626
Thanks @calcinai
The stack trace items are:
[code]

[2019-08-28 16:02] cjsoftuk opened #627 "saveAll does not cope well with partial saves"
The saveAll method allows multiple objects to be saved concurrently.  For some reason, Xero allows this to "partially succeed" and return a 200 OK.

Xero-PHP doesn't handle this condition well.  Some invoices have InvoiceIDs after save, others do not due to a validation error.  I believe Xero returns 200 OK, and also fills out data about the errors in the body when this happens rather than includi

[2019-08-29 16:09] andrewvink opened #628 "Get all Assets - Call to undefined method"
Trying to GET all Assets via a Private App

Not sure if I'm doing it correctly... as I get a call to undefined method.

Here's what I have so far. Please could you send me an example.

[code]

[2019-08-30 00:41] calcinai commented on #628
Which is the undefined method?

[2019-08-30 15:48] andrewvink commented on #628
Running the above gives me:

---

Fatal error: Uncaught Error: Call to undefined method XeroPHP\Remote\Query::getfixedAssetAccountId() in /home/vagrant/xero/assets.php on line 21

Error: Call to undefined method XeroPHP\Remote\Query::getfixedAssetAccountId() in /home/vagrant/xero/assets.php on line 21

---

I'm trying to get a full list of assets, and then update the 'assetStatus' - are there any

[2019-09-01 05:02] timacdonald commented on #628
You'll have to provide the code snippet that calls this function, i.e. `assets.php` around line 21. Looks like you are calling it on the wrong object.

[2019-09-02 07:36] andrewvink commented on #628
Hey Guys,

Thanks for the help so far!

Sorry still learning, so trying to figure out how to write the script to call all the assets...?

I've been guessing on how to do this to be honest with the snippet above by looking at other examples, but don't have enough knowledge yet of OOP to get it right.

Looking at the other models it looks like there should be a Models\Assets\Asset.php file in order

[2019-09-02 12:22] SShalini commented on #409
how to update an existing invoice?

[2019-09-02 12:24] SShalini commented on #409
can you please explain a process to  edit an existing invoice on Xero using "calcinai/xero-php
" library.

[2019-09-03 09:00] onlinelaser opened #629 "Confused by Report Models"
Sorry for asking a howto in the issues, but perhaps this can morph into a documentation PR!

I'm retrieving a BankStatement Report like this:
[code]
Where I pass in the account id from the .env
This all works great.

However I can see that there is also a BankStatement model in `XeroPHP\Models\Accounting\Report\BankStatement` - what I can't find is any examples of how to make use of this model to

[2019-09-03 22:18] onlinelaser commented on #629
So I've just seen that `$result[0]` contains the populated instance of the model, that makes sense - is that the intended use?

[2019-09-04 03:37] timacdonald commented on #629
That is right. It will return an array of results. If you are only after one result you could swap `execute` for the `first` method.

[2019-09-04 11:32] nelwa opened #630 "Support for createdByMyApp option?"
Hi,

I can't seem to find anything around the createdByMyApp parameter for GET Invoices.  Is it supported in this library?  If so, can you please give me an example on how to use it?

Also, how should the order parameter on GET Invoices be used in the library.

Thanks for a great library, but the documentation is a little lacking...

[2019-09-04 13:01] Josh-G commented on #630
[Query::setParameter](https://github.com/calcinai/xero-php/blob/0a89c5ec5cb598eccf978865127c745090f5c6e1/src/XeroPHP/Remote/Query.php#L249-L254)
[code]

[Query::orderBy](https://github.com/calcinai/xero-php/blob/0a89c5ec5cb598eccf978865127c745090f5c6e1/src/XeroPHP/Remote/Query.php#L150-L155)
[code]

[2019-09-06 07:22] anantapon opened #631 "Fatal error: Class 'XeroPHP\Application\PrivateApplication' not found"
My code
XeroPHP
---- Application
--------  PrivateApplication.php
index.php

<?php
  use XeroPHP\Application\PrivateApplication;
  $config = [
    'oauth' => [
        'callback' => 'http://localhost/',
        'consumer_key' => 'k',
        'consumer_secret' => 's',
        //'rsa_private_key' => 'file://certs/private.pem',
    ],
  ];
  $xero = new PrivateApplication($config);

  $contacts = $xe

[2019-09-06 10:22] calcinai commented on #631
@anantapon did you install the library using composer?

[2019-09-07 23:35] #631 closed

[2019-09-07 23:36] #630 closed

[2019-09-07 23:36] #629 closed

[2019-09-07 23:36] #616 closed

[2019-09-07 23:36] #570 closed

[2019-09-07 23:37] #531 closed

[2019-09-07 23:37] #479 closed

[2019-09-07 23:37] #87 closed

[2019-09-07 23:38] #149 closed

[2019-09-07 23:38] #165 closed

[2019-09-10 07:39] nelwa commented on #630
Thank you!  Just want to thank you again, this is an excellent library!

[2019-09-10 14:00] jaytee117 commented on #628
change your use statement to
use XeroPHP\Models\Assets;

it should work then.

[2019-09-10 14:03] jaytee117 commented on #626
add

use XeroPHP\Models\Accounting;

[2019-09-11 10:10] gitstashgithub commented on #626
Thank you @jaytee117, it solved the problem!
I then had the same issue as https://github.com/calcinai/xero-php/issues/181, and solved it by direvus' solution.

[2019-09-11 10:10] #626 closed

[2019-09-13 02:13] Cameronese11 opened #632 "401 Exceptions without oauth_problem_advice not handled correctly"
The current implementation seems to assume all 401 responses from Xero that do not have the `oauth_problem_advice` param are 403's. This seems like a fair assumption since Xero does not return 403 status codes.

In our case we are trying to access the Xero reports API for a user who does not have permission to access reports. The response body from xero contains the message 'You are not permitted

[2019-09-16 10:09] sunnykasera3107 opened #634 "Parse error: syntax error, unexpected 'const' (T_CONST), expecting variable (T_VARIABLE) in /xero-php/vendor/doctrine/instantiator/src/Doctrine/Instantiator/Instantiator.php on line 27"
`namespace XeroPHP\tests;

use XeroPHP\Webhook;
use XeroPHP\Application;
use XeroPHP\Webhook\Event;
use XeroPHP\Application\PrivateApplication;

require_once 'vendor/autoload.php';

class XeroRS extends \PHPUnit_Framework_TestCase {

  private $config;
  private $application;

  public function __construct(){
    $this->config = [
        'oauth' => [
            'callback' => 'http://localhost/xe

[2019-09-16 22:56] timacdonald commented on #634
This error in a doctrine file, not this codebase.

File: `/xero-php/vendor/doctrine/instantiator/src/Doctrine/Instantiator/Instantiator.php`
Line number: `27`

[2019-09-17 07:12] nelwa commented on #584
Any update on this?  I'm getting the same problem...

[2019-09-17 07:16] nelwa commented on #627
[code]

will loop through the results...so you can process them.

[2019-09-17 07:56] nelwa opened #636 "Tracking on New Invoice not working"
Hi Calcinai,

Firstly, thank you for your help a week ago - I'm really getting much use out of this library already.

I've been struggling for around a day now to get tracking categories to work.  I've tried all the suggestions on all the previously closed issues, but none are working.  Tracking is the final thing I need to get working...

Can you please provide an example on how to use tracking o

[2019-09-18 08:49] nelwa commented on #84
Does anybody have a current working solution for adding a Tracking Category, and Tracking Option to a lineitem?

I can't seem to get any of the solutions above to work...

[2019-09-18 09:25] mogilvie commented on #84
Hi @nelwa
I'm going through this at the moment and have got it working on dev with Xero Global invoice line items. I'm not sure if its best practice.

You need to create a new TrackingCategory object in your code. Set the Category Name to the required Xero category name. Then add an optionName for the desired Xero category option.

Set that TrackingCategory to your LineItem.

When it saves to Xero

[2019-09-18 12:35] nelwa commented on #84
Hi @mogilvie ,

Thank you, but just after posting that message, I was able to get it working with the solution from @DarrenChowles above.

[2019-09-18 18:05] kylehq commented on #84
Hi @nelwa we have been using this to assign tracking categories to a line item (invoice/bill) for some time in our production process.
[code]
The only issue we have had is around tracking category creation, not line item assignment. My work around for creation is above. Do in 2 steps. Hope this also helps. K

[2019-09-19 09:47] mogilvie commented on #636
Hi Nelwa,
This works for me on an invoice line item:
`        $newTracking = new TrackingCategory();
        $newTracking->setName('Region');
        $newTracking->setOption('South');
        $lineItem->addTracking($newTracking);`

The tracking category and option need to exist in Xero already.

[2019-09-19 21:53] tysonarmstrong opened #637 "Updating/Archiving Tracking Category Options"
Hi,

I'm trying to archive a large number of tracking category options. It appears it isn't possible to save() the TrackingOption object directly, so I've also tried updating the parent Tracking Category options collection with the updated option (ie. setting Status to ARCHIVED). When I try to save this Tracking Category I get a 404.
The endpoint it's posting to is:
https://api.xero.com/api.xro/2.

[2019-09-24 13:07] zimonline opened #638 "Creating an Object from cache"
In order to keep things fast and not over work the API I am caching the xero records in my local DB.

How do I in this example recreate a Xero Contact Object from an Array or Json?

It would be nice to be able to

[code]

And have this be like the original record from xero.

Sample Data:
[code]

[2019-09-24 13:27] mogilvie commented on #638
If you wanted to go that route, I would use an object serializer & deserializer.
That being said, are you actually coming up against API limits?
I would be concerned about potential inaccuracy of data records between your local DB and the Xero data, which should be point of truth.
For your contact example, if you wanted to keep a local version, then I would recommend using webhooks to update your

[2019-09-24 14:24] mogilvie commented on #638
Our application uses the Symfony and its Serializer component, https://symfony.com/doc/current/components/serializer.html

[2019-09-25 05:31] kgdiem commented on #637
Duplicate of #256

Same here

[2019-09-25 05:31] kgdiem commented on #256
bump, still an issue

[2019-09-25 21:37] #632 closed

[2019-09-26 05:04] smartmultimedia commented on #537
I haven't figured out how to submit a PR  (haven't bothered) but here is the really bodgy "fix" that I did to load a list of Projects:

**1.  modify /Remote/Request.php** , change this line:   $this->setHeader(self::HEADER_ACCEPT, self::CONTENT_TYPE_XML);

to these lines:
[code]

**2.  modify /Remote/Response.php** , find the line that says   $this->parseJSON();   and change it to:
[code]

**3.

[2019-09-26 05:09] smartmultimedia commented on #537
@calcinai @wasimakaram @gregharvey  hope the above helps

[2019-09-26 07:23] karthik5626 opened #641 "how to create new product/item in xero calcinai with quantityonhand??? (php)"
I tried with below code
$lineItem2 = new Purchase(self::$xero);
$lineItem2->setCOGSAccountCode(310)
->setUnitPrice($price);

$lineItem3 = new Sale(self::$xero);
$lineItem3->setAccountCode(200)
                 ->setUnitPrice($price);

$lineItem = new Item(self::$xero);
$lineItem->setCode(166) //$itemcode
                ->setName($itemname)
                ->setQuantityOnHand($quntity) // $quntity

[2019-09-30 11:21] sunnykasera3107 commented on #634
Thank you for help, I was feeding wrong details.

[2019-09-30 11:21] #634 closed

[2019-09-30 12:03] anantapon opened #642 "Xero in Codeigniter 3"
Hi,

I want to integrate Xero in Codeigniter3. Below are my controller code and image of result.
Thank you very much.

[code]

**My result:**
![xero](https://user-images.githubusercontent.com/15794465/65877719-8cf61000-e3b6-11e9-892a-aaf9eb4b2992.jpg)

[2019-09-30 13:54] #642 closed

[2019-10-03 10:16] DezrtRose opened #643 "Overpayment reference number"
I wanted to get the reference number of the overpayments through the XERO api. But I found out that the field has been deprecated.

Is there any other way to get that value from xero? As in xero dashboard we can still add the reference number to an overpayment.

I have searched every where and could not find an answer.

Thank you

[2019-10-03 18:08] taymjay opened #644 "Retrieving Bank Transactions"
Hi, can we still retrieve Bank Transactions or Bank Transfers? Nothing that I have tried is working.

`$xero = new \XeroPHP\Application\PrivateApplication($config);

	$bt = new BankTransaction($xero);

	$bankacc = new BankTransaction\BankAccount();
	$bankacc->setCode(001);

	$bt->setBankAccount($bankacc);

	$new_transactions = $xero->load('Accounting\\BankTransaction')
	->page('1')
	->execute();

[2019-10-03 23:13] calcinai commented on #644
What exactly isn't working?  Do you have any error messages or headers?

[2019-10-03 23:13] calcinai commented on #643
@DezrtRose No ideas sorry!  Try emailing the Xero API support team - they should be able to help you.

[2019-10-03 23:13] #643 closed

[2019-10-04 08:19] taymjay commented on #644
Hi Calcinai,

Thanks for the quick reply! I do have bank transactions in the Xero company, but none is loaded/printed out.

At my Xero history:
/api.xro/2.0/BankTransactions | GET | 200

Thus, I suppose it was executed without any errors.

However, print_r($new_transactions); returns the following:

XeroPHP\Remote\Collection Object ( [_associated_objects:protected] => [storage:ArrayObject:private]

[2019-10-04 21:15] calcinai commented on #644
Well that looks like it's working.  Can you see the response in the developer console?

[2019-10-05 03:55] taymjay commented on #644
I just tried the API previewer on the xero developer page, doesn't retrieve any transactions as well. Have sent in a support form to them to seek clarifications. Will update if they do reply. Thank you!

[2019-10-08 08:57] simontheu commented on #309
Well done!!! Just borrowed this!

[2019-10-16 11:12] ashleyken opened #646 "Contact->Website not saving"
I've just started getting to grips with setting Name, Email, Phones, Addresses, etc but for some reason, I'm not able to set the Website value.

If I look at the object before I send it, I can see that Website has been correctly set, but when I look at the $repsonse from $response = $contact->save(); I can see that everything else has been updated except for Website.

Is there another value that n

[2019-10-16 11:48] Josh-G commented on #646
Have a look at previous issues #557 and #329, I'm pretty sure it's the same problem.
Looks like it's still not possible to update this value.

[2019-10-16 12:10] ashleyken commented on #646
Thanks Josh, apologies for not checking the issues more thoroughly :)

[2019-10-22 20:28] ABTanjir opened #647 "Documentation"
Is there any proper documentation about hoe to create invoice with each items?
or how to trigger invoice email?
I must say its very poor documented or i must missing something

[2019-10-22 20:40] calcinai commented on #647
You're correct, it is very poorly documented.  Currently the extent of it is What's in the readme and wiki.

If you look at the Xero documentation, all of the models map through in the same pattern, so examples should be transferable between models.

As this is a community project, feel free to submit any changes as you work through.  Unfortunately I don't have the capacity to do that at the momen

[2019-10-22 21:23] tobz-nz commented on #580
Confirmed this fixes timeout issues sending email for me as well.

[2019-10-22 21:24] calcinai commented on #580
@tobz-nz If you're happy to submit a PR, I'll review it and release a patch version.

[2019-10-22 21:25] tobz-nz commented on #580
@calcinai Will do right now 👍

[2019-10-22 21:29] tobz-nz commented on #580
... Well that was easy :)

[2019-10-22 21:44] #580 closed

[2019-10-24 10:05] narwy opened #651 "Attaching payment to invoice"
Hi,

I've got an issue where I'm trying to attach a payment to an invoice:

Code:
[code]

Throws:
`Call to undefined method XeroPHP\Remote\Query::setInvoice()`

[2019-10-29 03:22] Healyhatman opened #652 "Getters throw exception if property is empty"
Trying to develop something where I need to update the PayTemplate of an Employee in PayrollAU.

If the employee doesn't have a PayTemplate set already, calling getPayTemplate throws an Exception "Undefined index: PayTemplate". I assume this would happen with other properties as well.

**Possible Solutions:**
Set array properties to an empty array on initialisation of the object
Return the array p

[2019-10-29 20:53] calcinai commented on #652
Adding a ->hasX seems like a good solution.  The only current way to achieve this is with a `isset($employee->PayTemplate)`

[2019-10-29 20:53] calcinai commented on #652
^^ Which is inconsistent, I know.

[2019-10-29 21:06] calcinai commented on #651
@narwy I think you're wanting to create a new payment, rather than load one?

[2019-10-29 23:42] narwy commented on #651
How would I go about doing that @calcinai ? tia.

[2019-10-30 01:24] calcinai commented on #651
Something like
[code]
There will be other fields that you require to make this work, but you should get the idea [from here](https://developer.xero.com/documentation/api/payments)

[2019-10-30 11:19] Healyhatman commented on #652
Is that something I should do one by one and create a pull request for, or
is there an automagical thing you can do to apply it to all the classes?

[image: photo]
*Kamron Brooks*
Owner, Sky Spider
0438 526 766 <0438526766>
 skyspider.com.au
<https://s.codepen.io/boomerang/iFrameKey-193c05ea-7d6a-597e-e47f-90db67ddedfd/skyspider.com.au>

7 North Street, Teralba, NSW
<https://www.facebook.com/SkySp

[2019-10-30 11:26] Healyhatman commented on #652
I would much prefer if possible all the properties are set to empty
versions when the model is initialised though, so then you don't HAVE to do
->hasX before everything. Just having ->getPayTemplate() return an empty
PayTemplate makes more  sense to me than having to do
if($employee->hasPayTemplate()) { $tmpl = $employee->getPayTemplate()) else
{ $tmpl = new PayTemplate($xero)); }

[image: photo]

[2019-11-04 17:17] davidwindell commented on #625
@calcinai could you share an update on the plans for OAuth 2? Xero are now saying that no OAuth 1 apps will be able to be created from next month so it would be good to know now if we need to make plans to move to an Oauth2 client or help with efforts in this repo.

[2019-11-04 17:23] calcinai commented on #625
@davidwindell That happened quickly! I don't think the new Xero library is very complete just yet  so I might need to do something quickly here and swap out he underlying transport  for compatibility.. Once upon a time, I did have Guzzle working in there.

[2019-11-04 17:25] davidwindell commented on #625
Yeah, very quick! Here's the official quote:

[2019-11-04 19:14] SaxPlayer commented on #625
I'll be chuffed if oAuth2 support is introduced. I'm having mixed results creating a Xero app with oAuth2 at the moment using League\OAuth2. It's working in places but not in others. It's probably my fault rather than Xero's new API but I'd be far happier using a well maintained library like this one if oAuth2 support was introduced.

That's probably not a helpful comment... I'm just agreeing that

[2019-11-04 19:43] calcinai commented on #652
Yeah, that seems like a reasonable approach.  I'm not sure why this wasn't default behaviour, but would be easily implemented in the base model.  All that we'd need to be aware of would be the impact of deliberately not posting properties that haven't been explicitly set.

[2019-11-05 17:20] taymjay commented on #644
My bad, I was on the wrong end point. Should be looking at Payments endpoint instead. Here are some of their replies:

The BankTransactions endpoint is used to retrieve Spend Money and Receive Money

If you match to an existing Invoice or Bill a Payment will be created.

If you use the Create tab a new BankTransaction will be created.

If you record a transfer between two bank accounts a BankTrans

[2019-11-05 17:20] #644 closed

[2019-11-06 03:48] mailnike opened #653 "How item update, invoice update (POST) works?"
Hi,

Great package but unfortunately, I was not able to find any good example of the update request to XERO API. As per XERO documentation it is possible to use POST request (surprisingly not PUT) to update existing data, so I was wondering how to do it using this package. Does this package support it?

Any guidance or help would be highly appreciated.

e.g. where I add a new invoice.

[code]

but

[2019-11-07 10:38] rezasazesh opened #654 "Fatal error: Uncaught XeroPHP\Exception: Class does not exist"
I have seen this error in a few other trends but do not see a solution

I have used the package using composer, in my test file for Xero I have

[code]

In config.php I have a sample config as found in example

[code]

I am trying to get started so I did the first example the Docs give which is printing contacts and I get the error below, what should I do? Thanks

[code]

[2019-11-10 04:39] mailnike commented on #653
It seems the invoice can be updated. First - we need to retrieve it -

`$xero_config->loadByGUID('Accounting\\Invoice', $xeroinvoiceid);`

Once retrieved follow the same process that you used to create an invoice.

 Great package but I wish there was some small help documentation.

[2019-11-10 04:39] #653 closed

[2019-11-12 20:45] IanSimpson commented on #537
@wilsonwc Did you have any success with this? Might get one of my team to sort and do a PR, but no point doing it if you've got it sorted already and are happy to share.

[2019-11-12 21:26] wilsonwc commented on #537
Yes, I've made some progress, but have more classes to be added. Happy to
share what I've got.

Ross Wilson
Wilson Web Consulting LLC

On Tue, Nov 12, 2019 at 1:45 PM Ian <notifications@github.com> wrote:

[2019-11-12 21:28] calcinai commented on #537
Thanks everyone, let me know if there's anything I can do to help.

I'm looking to get the oauth2 version of this library running over the Christmas period, but that should have no direct impact on this.

[2019-11-12 22:49] calcinai commented on #654
Are you correctly importing namespaces (with a `use`)

[2019-11-19 14:17] emacinty opened #656 "Organisation should expose Class property"
The Accounting\Organisation model doesn't currently expose Class, which is documented [here](https://developer.xero.com/documentation/api/organisation). This typically shows whether an Organisation is TRIAL, PREMIUM etc. This is relevant if, for example, you want to see if multiple currencies are supported (even if they don't at present exist in the organisation).

It was a relatively simple chang

[2019-11-20 06:11] aftersow commented on #256
Changing TrackingOptions to Options in XeroPHP worked soughta... but I was still getting a different error. I added a work around by making the option manually

Note: $this->_xero_oauth_object is my \XeroPHP\Application\PublicApplication from authentication

[code]

If anyone is interested, the rest of my code shows how to add it to the trackingCategory

[code]

[2019-11-21 21:03] #654 closed

[2019-11-21 21:04] calcinai commented on #656
@emacinty feel free to submit a PR and I'll merge that one in, thanks!

[2019-11-21 21:07] #651 closed

[2019-11-21 21:07] #641 closed

[2019-11-27 19:06] discover59 commented on #520
@calcinai The above issue doesn't happen anymore. I have another question.
How can I get status code of sendEmail request?

[2019-11-28 14:11] OPVL commented on #646
Can confirm that this is still an issue for me

[2019-12-02 04:19] Healyhatman opened #657 "load(employees) not including enough data"
When I use $xero->load(Employee::class)->execute() on one particular install, the retrieved employees don't include the OrdinaryEarningsRateID: they're all null. On a different install with a different organisation, the same code has the OrdinaryEarningsRateID included.

Loading a single employee by GUID includes the OrdinaryEarningsRateID.

[2019-12-02 09:00] alexbogo commented on #625
This may help...
https://github.com/XeroAPI/xero-php-oauth2

[2019-12-03 02:59] bradyuen opened #658 "Not able to create contact with isCustomer"
Could you help to check why I'm not able to create customer contact?
It keep to create new contact to Supplier.

                $contact->setName($fullname)
                    ->setFirstName($firstName)
                    ->setLastName($lastName)
                    ->setEmailAddress($Email)
                    ->addAddress($address)
                    ->setTaxNumber($abn )

[2019-12-03 02:59] calcinai commented on #658
@bradyuen Unfortunately this property is read only.

[2019-12-03 02:59] #658 closed

[2019-12-03 09:21] haythembenkhlifa commented on #433
Good Day Guys

Im trying to invoices with the Api  im using this code

`    public function test(){

    $config = [
    'oauth' => [
        'callback' => 'http://127.0.0.1:8000/',
        'consumer_key' => 'a...',
        'consumer_secret' => 'b...',
    ],
    'curl' => [
     CURLOPT_CAINFO =>  __DIR__.'/cacert.pem',
    ],
    ];

     $xero = new PublicApplication($config);

     return $xer

[2019-12-03 19:17] gurubobnz commented on #625
As of 2nd December Xero stopped allowing creation of private applications using the old method so we're forced to use OAuth2 now. I'm in the process of looking at the OAuth2 authorization process, but in the end does this library still work with OAuth2? I realised we no longer have a public/private key pair with OAuth2 (unless I misunderstand).

[2019-12-03 19:52] calcinai commented on #625
@gurubobnz this is top of my list. I have found the WIP using guzzle, so will hopefully push a branch in the next couple of days for you to test.

[2019-12-03 19:57] gurubobnz commented on #625
Excellent - I will be ready to test as soon as you are. Thanks.

[2019-12-03 23:07] gurubobnz commented on #625
Hey by the way ... I just got this back from Xero support regarding not being able to create OAuth 1.0 apps:

Hi Bob

Our team have now released a revised URL in order to continue creating Private Apps:

https://developer.xero.com/myapps?privateAppCreation=true

The special url will be active for the next 90 days, after this time you would be expected to be creating an OAuth 2.0 alternative.

Kind

[2019-12-04 21:46] DeweyOx opened #659 "rawurlencode() expects parameter 1 to be string"
When using:

`$xero->loadByGUIDs(Invoice::class, $ids);`

Where $ids is an array of invoice numbers...

You get the error:

`rawurlencode() expects parameter 1 to be string, array given in /vendor/calcinai/xero-php/src/XeroPHP/Helpers.php on line 209`

Any idea how to solve this?

[2019-12-04 21:49] calcinai commented on #659
@DeweyOx are you certain that `$ids` isn't an array of arrays?

[2019-12-04 21:52] DeweyOx commented on #659
Yes. Just debugged it:

[code]

[2019-12-04 21:53] DeweyOx commented on #659
If i use '@' to suppress warnings, it works. But I can't be using that on production.

[2019-12-04 21:57] calcinai commented on #659
@DeweyOx Just checked out [the Xero docs](https://developer.xero.com/documentation/api/invoices), they expect a comma-separated string of ids...

[2019-12-04 21:59] calcinai commented on #659
The library should probably be smart enough to implode these for you...

[2019-12-04 22:01] DeweyOx commented on #659
it was the first thing I tried, but it fails with this lib. Any workarounds?

[2019-12-04 22:03] calcinai commented on #659
What does it do, I assume you're doing something like this?

    $xero->loadByGUIDs(Invoice::class, implode(',', $ids);

[2019-12-04 22:05] DeweyOx commented on #659
exactly, but I get:
`array(2) {
  'success' → bool:false
  'msg' → str(11) 'Bad Request'
}`

[2019-12-04 22:09] DeweyOx commented on #659
I changed Request.php to read:
`    public function setParameter($key, $value)
    {
        if(is_array($value))
        {
            $value = implode(',', $value);
        }
        $this->parameters[$key] = $value;
        return $this;
    }`

but I get the same Bad Request

[2019-12-05 18:45] l1ngoman opened #660 "Invoice AccountCode Not Being Saved to Xero When InvoiceLineItem Amount is $0"
Hello,

We're experiencing an issue where the LineItem being saved to an Invoice is not sending the AccountCode, but only when the item amount is $0.00.

In general, we've just been setting the item's code, and Xero picks up the associated AccountCode for that LineItem when it gets saved to Xero. However, this seems to be the case even when we are explicitly setting the AccountCode.

I checked, an

[2019-12-05 18:56] l1ngoman commented on #660
I actually came across this in the Xero developer forum, but I'm not certain that this is 'expected behavior', as you can still manually set and save both Tax Rates and Account Codes on a Xero invoice through Xero. Maybe it's just not possible through their API?

![image](https://user-images.githubusercontent.com/41375558/70264725-db74b180-174d-11ea-81c1-b117db12c744.png)

[2019-12-06 00:38] Healyhatman opened #661 "EarningsRate DisplayName is empty"
When retrieving PayItems, the DisplayName property is shown as NULL even for rates that have the display name set in Xero.

#_data: array:13 [▼
                "Name" => "Test to be inactive"
                "DisplayName" => null

![image](https://user-images.githubusercontent.com/13272508/70285797-dd597600-181c-11ea-85a6-80497aa43d7c.png)

[2019-12-09 10:15] davidwindell commented on #625
Happy to test too!

[2019-12-10 11:33] melorbany commented on #625
Thanks @gurubobnz

[2019-12-15 19:37] calcinai commented on #657
By "Install" do you mean the xero-php install and the application, or just the install itself?

[2019-12-16 01:22] Healyhatman commented on #657
When I say install I mean a server with a deployment of my code.

I found out from Xero API support what the problem is though - when retrieving multiple employees (without paging) it doesn't include any of the employee's Earnings Rates **if those rates are inactive**. So that's what the problem is, and the OTHER issue https://github.com/calcinai/xero-php/pull/610#issuecomment-565839595 would've h

[2019-12-16 20:09] muppsy007 commented on #625
Hi @calcinai is there any update to this at all? I have a bit of time this week to help testing/PRs if needed

[2019-12-16 20:09] calcinai commented on #625
@muppsy007 Not far off.  I got a little carried away...

[2019-12-17 19:07] ryanfoote opened #662 "Querying Bank Transactions limited to a specific account"
Hi,

I'm attempting to query bank transactions limited to a specific account with the following code:

[code]

This results in the following error:

`preg_match() expects parameter 2 to be string, object given`

My understanding is that the `BankAccount` query property needs to be a `BankAccount` object per [this](https://github.com/calcinai/xero-php/blob/66f8d5ce668be4f1cae21dccbfbe099c47e62bc5/s

[2019-12-20 08:56] DivineOmega commented on #625
@calcinai Any updates regarding this? I'm willing to help out if needed.

[2019-12-27 20:19] l1ngoman commented on #284
@timacdonald Any idea on how to do more than one status at a time? I'm trying to get all purchase orders except those that have been deleted.

Thanks!

[2020-01-04 08:32] rochow commented on #625
@calcinai Similarly I can help with some dev or $; unfortunately the library goes from amazing to useless without being able to connect to Xero!

[2020-01-05 02:14] rodjsta commented on #625
Also hoping for an update here.

[2020-01-05 03:46] calcinai commented on #625
Working on it today!

[2020-01-05 04:00] rodjsta commented on #625
Awesome! Thanks Michael.

[2020-01-05 06:42] calcinai commented on #4
I don't think this is relevant as work is underway for OAuth2 in #625

[2020-01-05 06:42] #4 closed

[2020-01-05 06:43] calcinai commented on #625
Update: WIP on feature/oauth-2, but still a way to go!  I'll keep updating here as I go.

[2020-01-05 06:49] calcinai commented on #625
It's worth noting that this is going to be an interim patch. I've noticed several things that don't fit cleanly but for dependant BC will continue to implement.

After this is up and running, I'll focus energy back on a major release.  Since Xero have now adopted my OpenAPI spec, this should make it a whole lot easier.  Unfortunately their new (generated) SDK is not very user-friendly, so I think

[2020-01-05 21:40] timacdonald commented on #284
Haven't tested, but I believe you can comma seperate them...

[code]

[2020-01-06 01:15] gurubobnz commented on #625
Hi Michael, thanks for your awesome work - I'm keen to test, can you give me/us a quick high level rundown of how to get the config up and running for this? I'm working through it myself right now but if you have some copy/pasta you can send that would be great.

I expecting that I can still do something like this:

[code]

But not sure on what is new/expected in `$xeroConfig`. Currently I'm getti

[2020-01-06 01:17] calcinai commented on #625
@gurubobnz It's not working just yet sorry!  But in answer to your question, there is now no differentiation between application types, so `Application` is no longer abstract.

`$xero = new \XeroPHP\Application($xeroConfig);`

Will put some more time in this evening.

[2020-01-06 01:26] gurubobnz commented on #625
Oh yeah oops typo there in that ... I noticed the Public/Private applications had done. Standing by then, let me know if you need anything.

[2020-01-06 10:18] PeteAtkins commented on #625
Also keen to test as soon as you have a working version.  Thanks for the hard work in advance.

[2020-01-08 20:47] calcinai commented on #625
Update- I have this working locally 🎉

Got some work to do today but should be able to clean it up and release for testing over the weekend.

[2020-01-08 21:18] rodjsta commented on #625
Excellent work Michael. Thank you very much. Looking forward to using it.

[2020-01-13 07:30] cproetti commented on #622
Hey man

I'm probably having the same issue. I just cant figure this one out.

Here's what I'm doing, maybe you can shed some light on what might be happening.

`//START A NEW INSTANCE OF THE XERO CLASS
$xero = new \XeroPHP\Application\PrivateApplication($config);`

`//GET THE CURRENT PAYITEM
$xero_pay_item = $xero->load(\XeroPHP\Models\PayrollAU\PayItem::class)->execute()->first();`

`//CREATE TH

[2020-01-13 08:13] calcinai commented on #622
@cproetti WHat's the bad request error you're getting?

[2020-01-13 08:18] cproetti commented on #622
@calcinai The entirety of the exception message is just "Bad Request", code 400.

[2020-01-13 08:22] calcinai commented on #622
Have you looked in the Xero console?  Sometimes you feet some more detail in there

[2020-01-13 08:28] cproetti commented on #622
@calcinai Thanks for the tip. Yep, theres more context here, the error says "DisplayName is not a valid element in EarningsRate".

Its strange because I originally omitted ->setDisplayName() from my code however when I did ->validate() it said that display name is required.

I've tried again to omit ->setDisplayName() and getting the exception message "$DisplayName is mandatory and is either missi

[2020-01-13 08:31] cproetti commented on #622
@calcinai The reason I originally omit ->setDisplayName() is because I read through the code on EarningsRate.php before starting and noticed that it was marked as deprecated.

I'll try download the latest files and update, maybe you guys have pushed an update to this matter since I started.

[2020-01-13 09:37] cproetti commented on #622
@calcinai Updating to all the latest files didn't help.

When I include ->setDisplayName('test') I get a Bad Request error on Xero end saying "DisplayName is not a valid element in EarningsRate"

And when I omit ->setDisplayName() I get an exception on XeroPHP end saying "$DisplayName is mandatory and is either missing or empty."

[2020-01-13 20:09] #622 closed

[2020-01-14 01:42] richard-j-c commented on #625
Any progress on this? Very grateful for your efforts.

[2020-01-14 07:09] cproetti commented on #622
@calcinai The patch you did this morning has worked in terms of no longer being presented with that Bad Request "DisplayName is not a valid element in EarningsRate" error however this API request is still not working.

Using the same code example described yesterday, I'm still getting a Bad Request error. The error in the Xero console is exactly as follows:
`<Response xmlns:i="http://www.w3.org/20

[2020-01-14 15:51] edwardinchains commented on #625
Fair play - can't wait to work with this!

[2020-01-16 05:32] cproetti opened #665 "PayItems API getting Bad Request"
I'm having issues with the PayItems API. Whats happening is I'm trying to create a new EarningsRate however I'm getting a an exception from XeroPHP when ->save(). The exception only says "Bad Request". When I go to the Xero API Call Details page to see the response message I'm also seeing an error that only says "Bad Request".

Attached you will find a test.txt which contains my test code. I've al

[2020-01-16 12:31] Healyhatman commented on #665
You can't create a single earnings rate - you have to retrieve ALL of the
Earnings Rates, and add your new rate to the PayItems collection, and save
that. Or at least that's my understanding.

From the docs:

I guess what's happening is it thinks you're trying to delete all the other
rates you haven't included, and because some have been used it's not happy.

[image: photo]
*Kamron Brooks*
Owner,

[2020-01-18 04:05] matthewknill commented on #625
Hi, thanks so much for you work on this! Just wondering when it'll be available?

[2020-01-19 04:18] calcinai commented on #625
It's getting there!  Sorry it's taken me so long to get this done.

[2020-01-19 11:14] cproetti opened #666 "Payroll Calendar has no getUpdatedTimeUTC"
The Xero API for Payroll Calendar returns a UpdatedTimeUTC value however this value is not being set in XeroPHP and theres no method to access the value in PayrollCalendar.php

The documentation for Payroll Calendar API is here: https://developer.xero.com/documentation/payroll-api/payrollcalendars

[2020-01-20 05:00] Healyhatman commented on #665
Sorry for not reading your post properly. I'm having this issue too, it seems :)

[2020-01-20 11:55] cproetti commented on #665
@calcinai
Alright guys, heres the issue. On the file PayItem.php the function getRootNodeName() returns 'PayItem' when it should be 'PayItems'.

I have modified this, and re-tested with the same code, the request now goes through successfully and I can see the newly created item in Xero. I also re-tested with EarningsRate, DeductionType, LeaveType, and ReimbursementType all in the same request and

[2020-01-20 23:01] Healyhatman commented on #665
Can confirm: Changes the getRootNodeName to return "PayItems" and am able to save the new rates.

[2020-01-23 02:49] cproetti opened #668 "PayItems EarningsTypes is missing CurrentRecord"
The [Xero API documentation for PayItems](https://developer.xero.com/documentation/payroll-api/payitems) says that the EarningsRate GET includes a CurrentRecord value that is used to specify if the EarningsRate item is active or inactive. This CurrentRecord value can also be specified in the POST to change the status from active to inactive.

Although the Xero API has this CurrentRecord property,

[2020-01-23 02:53] calcinai commented on #668
@cproetti Feel free to add it and make a PR - I can review it later today.

[2020-01-23 02:54] cproetti commented on #668
@calcinai Ok, I'll try to do it tonight. Thanks.

[2020-01-23 03:43] calcinai commented on #625
So I've just committed a few changes for anyone keen to test 90% of the update - check out https://github.com/calcinai/xero-php/blob/feature/oauth-2/examples/demo.php as it contains the new [OAuth2 Provider](https://github.com/calcinai/oauth2-xero) for Xero and has the flow that you'll need to build into your app.

The constructor for the (now) `Application` then takes a token and tenant that you

[2020-01-23 04:02] tobz-nz commented on #625
Cool - I'll hopefully give it a crack tomorrow.

Looks good so far. Nice work, thanks 👍

Can the oauth2 provider be used with Laravel Socialite by any chance? I can't quite remember how it works, but pretty sure League clients can be used with little or no config... maybe?

[2020-01-24 12:25] FrankEBailey opened #669 "Getting the ID of a newly created Credit Note results in an error"
I'm probably doing something wrong as usual, however once I've created a Credit Note using

    $creditnote = new XeroPHP\Models\Accounting\CreditNote($xero);
    $creditnote
        ->setType('ACCPAYCREDIT')
        ->setDate($date)
        ->setContact($contact)
        ->setLineAmountType($lineamttype)
        ->setStatus('AUTHORISED');
    [add line item omitted, but working]
    $creditnote->

[2020-01-24 12:37] FrankEBailey commented on #669
I am officially an idiot.

[2020-01-24 12:37] #669 closed

[2020-01-24 14:23] mradcliffe commented on #625
Nice work so far! 🙌

I came up with a similar [XeroProvider](https://github.com/mradcliffe/xeroclient/blob/master/src/XeroProvider.php) for [xeroclient](mradcliffe/xeroclient) if you want to compare or want ideas for helper methods. In my use cases/library, I pretty much always want offline_access to be default.

[2020-01-27 02:44] calcinai commented on #625
@tobz-nz Did you (or anyone) get a chance to test this out?

[2020-01-27 03:00] matthewknill commented on #625
I unfortunately don't know a great deal about OAuth 2. However, from what I gather so far, it seems to be working. I had to setup a DNS entry and enable https on the server (since Xero does not allow
and IP address used for the redirect URL).

What's weird though is that sometimes I'll run it and it'll echo out 'Invalid state' and then I'll try it again and it will work.

Thanks for all your work

[2020-01-27 07:29] AndyTurff commented on #625
Similar to a Matthew except I know nothing about OAuth 2. Using the
demo.php the authentication worked fine but when it returned I get an error
(X's added by me 🤓)....

Calcinai\OAuth2\Client\XeroResourceOwner Object ( [xero_userid] =>
28a7c9c1-e5ff-4fbc-a3f3-XXXXXX [preferred_username] => XXX@XXX [email] =>
XXX@XXX.com [given_name] => XXX [family_name] => XXX )

Array ( [0] => Calcinai\OAuth2\Cli

[2020-01-27 07:29] AndyTurff commented on #625
I also occasionally get  the  'Invalid state' message

On Mon, 27 Jan 2020 at 07:28, Andy Turff <andyturff@gmail.com> wrote:

[2020-01-27 09:26] calcinai commented on #625
I've updated this again and it seems to be working for me.  See `demo.php` for how it is now.

I'm not 100% happy with how it's put together, but I've done it for backward compatibility as much as possible, as I'd imagine there are many applications where people will just want to implement oauth2 and then forget about it.

Once we know this is working, I can FINALLY get back to the new version wit

[2020-01-27 09:27] calcinai commented on #625
@AndyTurff the `invalid_state` message occurs if you refresh the example; it means that the code has already been used.

[2020-01-27 09:41] matthewknill commented on #625
Thanks for all your hard work!

Just wondering when this will be merged into the master branch?

[2020-01-27 11:34] kyle-rusby opened #670 "Supplied parameter 'Ids' cannot be parsed"
When trying to use the following code I get the above exception (which comes under the bad request exception). However, when I change Invoice::class to CreditNote::class it works.

I've checked the ID's and they are correct for the type (so the ID's I use for Invoice::class are invoices, and the ones I tested for CreditNote::class are credit notes).

`$this->application->loadByGUIDs(Invoice::class

[2020-01-27 13:11] #670 closed

[2020-01-27 14:16] rodrigomanara commented on #625
please keep up on the loop. thank you

[2020-01-27 21:09] calcinai commented on #625
@rodrigomanara check out `demo.php` - it shows the flow that's required to migrate.  All of your app code should remain the same, it's just the authorisation flow that you'll need to add.

@matthewknill Happy to merge it to master after I've had some positive feedback.

@everyone I think this requires a 2.0 release, even though anything left running 1.x will be broken as of December due to Xero sh

[2020-01-27 21:33] calcinai commented on #625
I've updated the readme in that branch to explain things a bit more.

[2020-01-28 09:37] PeteAtkins commented on #625
@calcinai I'll be testing later today/tomorrow so will let you know how I get on.

[2020-01-28 22:24] tobz-nz commented on #625
So I've just about finished implementing this - working well.
I've had no issues with the Oauth2.0 part of it.

[2020-01-29 17:27] PeteAtkins commented on #625
@calcinai
I've tested with a replica of demo.php and the first call & authentication flow works well and I get data for the $org retrieved correctly.
However the token it receives back does not seem to have refresh token value set.  There I am unable to then use this to gain a new access token when the first one expires as per 'Refreshing a token' in the readme.  I've attached a screenshot of the

[2020-01-29 18:19] calcinai commented on #625
@PeteAtkins did you include offline_access in your scopes? I guess that’s quite important to mention!

[2020-01-29 18:47] PeteAtkins commented on #625
@calcinai, I had not!  I've now added that to the scope and the $token includes a refreshToken value.  I will test the refresh procedure later tonight or first thing tomorrow morning and report back.
Thanks for the quick response!

[2020-01-29 19:09] tobz-nz commented on #625
The `openid ` scope also includes a refresh token - fyi.

[2020-01-29 21:42] PeteAtkins commented on #625
@calcinai Tested the refresh procedure, works perfectly.  Expired some tokens manually and all seems to work as expected.
I've also tested a few simple contact creation and retrieval scenarios, all seems to work perfectly.  I will be doing some more testing tomorrow in terms of full invoice life cycles so if I run into any issues I'll let you know.
Thank you & excellent work, very appreciated!

[2020-01-29 22:12] Yendall commented on #625
Everything working as expected for me! I'm going to be testing various endpoints and will report back if there are any issues, but so far so good.

[2020-01-30 00:00] tobz-nz commented on #625
I've been having some issues with tokens dropping scopes or something.
After a while I start getting 403's.

Token is still active, refershing works... Not sure if this is a you thing, a me thing or a Xero thing..

It might be  a Xero thing as I get the same problem when making a request in Paw (or postman or whatever)
Token refreshes fine, but permissions are dropped.

Oh... WTF
GET https://api.x

[2020-01-30 00:05] tobz-nz commented on #625
Ah.. possible due to my Demo Company just expiring.
FFS what a terrible Dev experience Xero is.

[2020-01-30 00:06] calcinai commented on #625
@tobz-nz Xero do specifically say that

Just because the `openid` scope gives you one, I wouldn't count on it.

[2020-01-30 00:23] tobz-nz commented on #625
The token is there and it works. Just seems to stuff something up. ... maybe.
I've upadted my scopes and will do more testing.

[2020-01-30 01:58] matthewknill commented on #625
Okay the authorization process seems to be fine connecting it to Xero via my user. I am able to generate draft invoices in Xero successfully (with line items etc...), however, when trying to add an attachment to the invoice via the following:
[code]
it results in the following error:
[code]
I am able to generate add attachments to the invoice via the Xero web UI with my user, so I don't think it's

[2020-01-30 02:14] calcinai commented on #625
@matthewknill just confirming you're adding the `accounting.attachments` scope to your authorisation?

[2020-01-30 02:18] matthewknill commented on #625
Whoops, I'm just a noob sorry, thanks for that...

[2020-01-30 10:17] shivikatqm27 opened #672 "Update to oauth 2.0"
Hi,

When will the update for oauth 2.0 will be available for this package?

[2020-01-30 10:28] rodjsta commented on #672
See #625
It's available now for testing on a separate branch.

[2020-01-30 10:39] shivikatqm27 commented on #672
Will this work with partner app as well?

[2020-01-30 10:48] rodjsta commented on #672
@shivikatqm27, if you haven't already, you should check out https://developer.xero.com/documentation/oauth2/overview

[2020-01-30 12:31] cproetti opened #673 "TimesheetEarningsLines is missing the NumberOfUnits property"
The Xero API and its documentation have a NumberOfUnits property in each of the Timesheet Earnings Lines of a Payslip but XeroPHP has no property, get or set method for this.

Heres the Xero Documentation: https://developer.xero.com/documentation/payroll-api/payslip#TimesheetEarningsLine

And the XeroPHP file to locate is: TimesheetsEarningsLine.php in the Payslip folder of PayrollAU.

[2020-01-30 13:03] rodjsta commented on #625
I have the connection and refresh process working too now.
@calcinai is there a way to disconnect the app/authorisation once connected?

[2020-01-30 13:10] cproetti opened #674 "Payroll TaxLine is missing ManualTaxType property"
The Xero API and its documentation have a ManualTaxType property in the Tax Lines of a Payslip but the XeroPHP does not have this property, get or set methods in TaxLine.php

Heres the ManualTaxLType enum values: [ManualTaxType](https://developer.xero.com/documentation/payroll-api/types-and-codes#ManualTaxType)

Heres the Payslip TaxLines documentation: [TaxLine](https://developer.xero.com/documen

[2020-01-30 13:23] PeteAtkins commented on #625
@rodjsta I went into the tenant organisation within xero, then settings, connected apps and disconnected the app when I needed to add additional scopes.
But its a good question, I can't see anything on xero about doing this programatically?

[2020-01-30 19:21] tobz-nz commented on #625
@rodjsta To disconnect an app via the API send a `DELETE https://api.xero.com/connections/{tenant_id}` request.

For new permissions you can just repeat the oAuth flow with your new scopes and the new token will.. actually I think all tokens will be upgraded with the new permissions.

[2020-01-31 02:03] calcinai commented on #674
@cproetti Feel free to submit a PR for this and I can review today.  Please ensure any code changes are formatted to PSR-2

[2020-01-31 02:03] calcinai commented on #673
@cproetti Feel free to submit a PR for this and I can review today.  Please ensure any code changes are formatted to PSR-2

[2020-01-31 21:32] calcinai commented on #625
@tobz-nz @rodjsta I've built this into the provider with a `->disocnnect()` method.

[2020-01-31 21:33] calcinai commented on #625
Thanks to everyone who's done some testing.  Last thing to do is write some tests then I'll release it!

[2020-01-31 22:27] richard-j-c commented on #625
Working well for me too. Thanks!
Can we get a `public function setTransport()` in the `Application`? Being able to modify client options (or reinstantiate the client) after app instantiation would be helpful.

[2020-02-01 06:42] vigneshpy opened #675 "Retriving Quotes from xero using XeroOAuth-PHP Fetches Every Quote Work Item"
I am trying to retrive Quote workitems from xero using XeroOAuth-PHP .

I am not allowed to migrate to the latest release xero-php-oauth2 due to some limitations in my company.

I already retrieved Invoice workitem from xero using XeroOAuth-PHP

I use the following code to retrieve Invoice WorkItems

$params['where'] = 'InvoiceNumber=="INV-0001"';
$params['page']= 1;
$response = $XeroOAuth->reques

[2020-02-01 06:44] #675 closed

[2020-02-02 21:06] calcinai commented on #625
@richard-j-c great point, I have been thinking about this.  I was aiming for the path of least resistance for the bulk of users who just want to swap this out for the previous version.  Ideally, you'd actually pass in the Guzzle instance when the app is created, rather than the tenant and auth token.  DI would also make testing more straightforward.

Where's a happy middle ground? Would adding a -

[2020-02-02 21:24] richard-j-c commented on #625
@calcinai I'm content with the `__construct()` as it is (DI could be included in v2). But either way works well.

Did you mean `setTransport()` rather than `getTransport()`? `getTransport()`, which you already have, gives me the guzzle client, but I see no way of then updating a guzzle client's config (modifying headers is want I'm after!), thus wanting to `setTransport()`

[2020-02-02 21:32] calcinai commented on #625
@richard-j-c You're right! I thought there was a way to change the default headers on the instance, but it appears this is not the case.  Happy to add a setTransport, but the it will lost the default authorisation headers.  Would it be better to pass a custom header in the Application constructor (for now)?

[2020-02-02 21:38] richard-j-c commented on #625
@calcinai For my particular use and app flow, setTransport is what I'm after; of course will have to add in those default headers myself :)

[2020-02-02 21:41] calcinai commented on #625
@richard-j-c just before I add that method, would a middleware suffice?

[2020-02-02 21:51] richard-j-c commented on #625
@calcinai I couldnt say. My usage is probably pretty idiosyncratic. I handle refreshing the token externally, and need to pass the refreshed token back to the `Application` (my apps - there are a few - integrate with a number of accounting APIs in addition to Xero, and handling the refresh external to the given libraries proved best for a consistent interface where tokens were maintained in a DB).

[2020-02-02 21:58] calcinai commented on #625
That was going to be my next suggestion.  I'll add the method!

Out of curiosity, could[ something like this](https://github.com/guzzle/guzzle/issues/1740) work for you?  If you had access to add a handler?

[2020-02-02 22:06] richard-j-c commented on #625
@calcinai It could work, but it'd be a helluva lot more work for me (and you) than `setTransport()` :)
Thanks so much!

[2020-02-04 09:22] matthewknill commented on #625
This seems to be all working for me including refresh tokens.
Thanks again @calcinai!!

[2020-02-04 11:07] AndyTurff commented on #625
Hi Matthew,
You mentioned in one of the earlier messages that you sorted out the
localhost issue for the callback URL. Would you mind sharing how you did
that? I have it working on the server but when accessing from a client
localhost obviously doesn't work. Cheers in advance.
Andy

On Tue, 4 Feb 2020, 09:22 Matthew Knill, <notifications@github.com> wrote:

[2020-02-04 23:00] gl3nda85 commented on #625
Hi!,
Is the application context going to be updated for webhooks?

[2020-02-05 02:25] hashnz commented on #625
hey @calcinai thanks for your work on this, I'm using it in a dev branch atm and looks good :+1:
one thing I noticed was type hints on the provider, I sent a PR over there https://github.com/calcinai/oauth2-xero/pull/2

[2020-02-05 14:25] glaing opened #678 "Best way to update Inventory Items"
Hi,

I have built a plugin for my WooCommerce site which creates a queue of products that are either missing or need updating (pricing, etc) in my Xero Inventory.

It detects if the product is new or updating and executes one of two sets of code. It then adds this to an array, so I can upload it all with one saveall() command at the end of the batch.

The new product works fine, but when updating

[2020-02-05 22:17] Healyhatman commented on #678
Taking Timesheets as an example

[code]

[2020-02-06 02:42] tkav commented on #625
Thanks @calcinai, working for me also.

Not sure if this helps anyone but I stored the token to my database using this:
`$toDatabase = base64_encode(serialize($token));  // Save to database`
`$fromDatabase = unserialize(base64_decode($token)); //Getting Saved Format`

After retrieving it, I used `getRefreshToken()` before loading objects.

[2020-02-06 03:42] mikerockett opened #679 "Quotes API"
The new Quotes API is now available, with the GET and POST methods available:

https://developer.xero.com/documentation/api/quotes#POST

This has been a long time coming on the part of Xero, and my client has been waiting ever so patiently for it since word got out. ;-)

Could it be added to this package?

[2020-02-06 08:18] #672 closed

[2020-02-06 08:18] calcinai commented on #625
☝️ should I do it?

[2020-02-06 19:27] leereichardt commented on #625
Yes, please!

[2020-02-06 19:29] tobz-nz commented on #625
👍 I'm ready to push live so... Yeah.

[2020-02-06 19:30] calcinai commented on #625
Done.

[2020-02-06 19:40] calcinai commented on #679
@mikerockett It's pretty straightforward to add and if you've got a use-case already, have a crack at adding them.

Just create a new folder in the models directory and base it on the existing ones.  I'm sorry but I won't get a chance to do this in the short term, but let me know hw you get on.

[2020-02-06 19:41] #637 closed

[2020-02-06 20:01] rodjsta commented on #625
I've updated to use the master branch and everything is still working. Great stuff @calcinai. Thank you for your work on this.

[2020-02-07 00:17] lionslair commented on #625
Great work. Thank you.

[2020-02-07 01:11] tobz-nz commented on #625
@calcinai Great work mate - thanks.

[2020-02-07 15:12] futurewebsites opened #683 "Unable to allocate CreditNote to invoice?"
I cannot seem to allocate a credit note to a payment? I have the invoice object and credit note object, applied amount is set date is in correct format.

     `$xeroCreditNoteAllocation = new Allocation($this->xero);
        $xeroCreditNoteAllocation->setInvoice($invoice)
            ->setAppliedAmount((float)$amount)
            ->setDate(\DateTime::createFromFormat('Y-m-d H:i:s',$date))

[2020-02-08 00:21] rodjsta commented on #673
Yes, NumberOfUnits is definitely missing.

[2020-02-08 02:40] rodjsta commented on #622
@calcinai  Where can I view the console?

[2020-02-08 03:17] cproetti commented on #622
@rodjsta Go to developer.xero.com **>>** My Apps **>>** Select your app **>>** History.
From the History page you should be able to see all of the requests your app is making to the Xero API. Only failed requests can be clicked on to view the details.

[2020-02-08 03:41] rodjsta commented on #622
@cproetti, is that the same for OAuth 2.0 apps? I don't see any History option. Only Webhooks and Marketplace.

[2020-02-08 03:54] cproetti commented on #622
@rodjsta  I'm not sure if its the same with OAuth 2.0 app.  This isn't really the place for this kind of support, you should consult the Xero Documentation.

[2020-02-09 03:20] rodjsta commented on #668
It appears this has been implemented with #610

[2020-02-09 19:33] #668 closed

[2020-02-09 19:35] #272 closed

[2020-02-09 19:36] calcinai commented on #584
Duplicate of #256

[2020-02-09 19:36] #584 closed

[2020-02-09 19:37] #636 closed

[2020-02-09 19:37] #347 closed

[2020-02-09 19:39] calcinai commented on #683
$do you get any response at all? What does the API history console show?

[2020-02-10 10:37] rodjsta commented on #407
@calcinai, the solution proposed in #408 does work, but do you have any idea if there's a more appropriate way?

[2020-02-12 23:07] Yendall opened #685 "Webhook Application for OAuth2"
Hello,

How do we go about creating a XeroPHP\Application for the Webhook constructor since the oAuth 2 release?

Thanks!

[2020-02-13 00:29] calcinai commented on #685
This hasn't actually changed.  Use the same Application as you'd use for the standard API.

[2020-02-13 03:20] Yendall commented on #685
Before the OAuth2 update we were having to pass a config to PartnerApplication and go through the OAuth1 signing process, that included the RSA certs, signing secrets etc. in order to create a PartnerApplication instance. Now i'm not so sure how to get an access token for the new Application instance without it being tied to a tenant.

Am I missing something?

[2020-02-13 03:40] Yendall commented on #685
Actually I think I can see how it works without a tenant. Will test it out

[2020-02-13 15:31] cproetti opened #686 "Resource Not Found exception when creating a payslip"
I'm getting a Resource Not Found exception when creating a new payslip in a existing payrun. The payrun is draft. **Anybody got some ideas?**

`$xero = new \XeroPHP\Application($access_token, $tenant_id);

//PAYSLIP
$xero_payslip = new \XeroPHP\Models\PayrollAU\Payslip($xero);

//SET EMPLOYEE ID
$xero_payslip->setEmployeeID($xero_employee_id);

//EACH OF THE EARNINGS LINES: $earnings_lines is an a

[2020-02-13 19:21] tobz-nz opened #687 "ErrorException: Illegal string offset 'error'"
Xero api being down isnot handled properly - well, Xero does a shit job of being down is probably more accurate.

Looks like they return HTML instead of json or xml when their service is down. Bravo guys bravo. 👏👏

Might need to handle 503 responses differently (I'm assuming they're sending a 503, probably don't count on it though) - maybe check for valid body parsing instead / as well.

[code]

[2020-02-13 19:24] tobz-nz commented on #687
Oh hang on.. might not have read the error properly (its early, brain hasn't finished booting yet)

`Service Unavailable - Zero size object` The shit does this mean...?

Is this even a 5xx response? or a 400? Very ambiguous.

[2020-02-13 23:36] tkav opened #688 "Automatically retrieve nested object data"
I'm trying to automatically get nested object data of any `PROPERTY_TYPE_OBJECT` returned. I'm saving all data to MySQL, with each model having their own table. Any nested objects-tables will have a column for the parent object (eg. BankAccounts table will have an EmployeeId column).

I have the tables auto-creating based on the defined models but am having trouble getting the nested object data a

[2020-02-13 23:40] Yendall commented on #685
Just in case anyone else had the same confusion as me, got this working by passing no Bearer Token or Tenant ID to the Application instance and that seemed to do the trick as long as I set the webhook signing secret, same as the OAuth1.0 flow

Sorry for the non-issue @calcinai

[2020-02-13 23:40] #685 closed

[2020-02-14 03:11] cproetti commented on #688
I wish it could do this but you have to make separate requests. You'll probably run into a rate limit so you'll need internal records, rate limiting methods, and a way to resume your progress if the script has to be restarted.

[2020-02-14 22:01] richard-j-c opened #689 "403 does not throw exception"
on v2, if Xero returns a 403 Forbidden response, the `parse()` method of `XeroPHP\Remote\Response` does not throw an exception. Thus no visibility on 403 and so a GET query for example will return empty results.

[2020-02-16 05:21] calcinai commented on #686
This might be a question for Xero... @SidneyAllen Any ideas?

[2020-02-16 05:23] cproetti commented on #686
@calcinai Can you see anything wrong with my test?

[2020-02-16 10:01] cproetti commented on #686
@calcinai I've also reached out to Xero  without any resolution yet. This OAuth 2.0 stuff and the Payslips endpoint issue has been holding up the completion of a project for 2 weeks. The deadline is this Monday so I couldn't afford to wait around for a response.

**Finally I decided to just downgrade it back to OAuth 1.0a, and now its working again!**

I'd still like to know why this Payslip endpo

[2020-02-16 21:54] tkav commented on #688
Thanks @cproetti. At this stage I can't even make a separate request to get the nested objects.
Is this is the correct way to call `getBankAccounts()`?

[code]

[2020-02-19 01:52] tkav commented on #627
Thanks @nelwa, this worked for me. I was trying to use `foreach($responses as $response)` in #27.

[2020-02-19 02:03] cproetti commented on #686
@calcinai @SidneyAllen I got a response from Xero support.

I tested it again, still having the issue. Not sure if theres some huge propagation time on Xero's end?

[2020-02-19 02:05] calcinai commented on #686
@cproetti That's good news I guess.  Not that it seems to have helped...

[2020-02-23 20:25] muppsy007 commented on #625
@calcinai Not sure if this has any impact on your recent changes or for the flow anyone is using here. But I thought I would post some recent changes to the Xero API as advised just today on the Developer Forum:

[2020-02-26 09:48] dancvrcek opened #690 "Oauth2.0 - integration Laravel into background / scheduler commands"
Hi guys,

we did our own integration for Laravel scheduler, the core bits of the code are public at https://gitlab.com/keychest/xero

It can periodically refresh the access_token that expires every 30 minutes. It can be used to create an up to date "session" config file so other Xero code can always get a valid access token.

feel free to use it, if it makes sense for you.

_Update 17 March: the r

[2020-03-02 15:16] oOmischaOo opened #692 "Refresh Token is empty"
Using demo.php as my starting point I am trying to implement the refresh token process for long lived access. When I call $token->getRefreshToken() it returns an emptry string. How do I get a refresh token to persist authentication? Many thanks.

[2020-03-03 11:04] bruno-farias commented on #683
I'm facing a similar issue with Pre Payments:

method:
`public function allocatePrePayment(Invoice $invoice, BankTransaction $prepayment): Allocation
    {
        $allocation = new Allocation($this->client);
        $allocation->setInvoice($invoice)
            ->setAppliedAmount($prepayment->getTotal())
            ->setDate(now())
            ->save();
        return $allocation;
    }`

The re

[2020-03-03 15:46] futurewebsites opened #693 "Saving model no longer returns model"
I have just upgraded to v2.0 from 1.8 in order to move to oAuth2 but I am no longer getting the model returned on save()

`$contact = new Contact($xero);

$contact->setName('Test Contact')
    ->setFirstName('Test')
    ->setLastName('Contact')
    ->setEmailAddress('test@example.com');
return $contact-save()`

I now get a response object ?

[2020-03-03 17:15] calcinai commented on #693
@futurewebsites Which model are you after? The contact itself is updated on save.

[2020-03-03 20:23] futurewebsites commented on #693
@calcinai Ignore me I am a big fat lier turns out I didn't set the tenant everything works as expected after migrating to v2 and oAuth2 sorry

[2020-03-03 20:23] #693 closed

[2020-03-04 01:27] outdoorsnz commented on #692
I managed to get this to work. You need to refer to https://github.com/XeroAPI/xero-php-oauth2 to get the idea how getRefreshToken() works.

My initial token storage is from a DB.

I came up with this:
`//Refresh token
$newAccessToken = $this->getAccessToken('refresh_token', [
    'refresh_token' => $this->getRefreshToken()
]);
//Update the session
$this->setToken(
     $newAccessToken->getToken()

[2020-03-09 05:18] muppsy007 opened #695 "How do you create an offline app?"
Been following this Issue https://github.com/calcinai/xero-php/issues/625 and the many disgruntled dev threads on Xero's own forums. What I'm trying to do is replace an offline app that simply creates an invoice (and a contact if it doesn't exist).

The demo.php file in the library works for me, but only once. I also understand that I add offline_access to the scopes to get the refresh token retur

[2020-03-09 06:00] muppsy007 commented on #692
@outdoorsnz How are any of those method calls obtaining your initial token from DB exactly? And how did you obtain it in the first instance? Did you have to go through the manual Xero prompts on screen?

[2020-03-09 09:45] jamieisps commented on #695
I have managed to achieve this by saving the token, refresh token, tenant and expire time. As you mention I have the exact same simple app to create invoices and contacts for each order. I am storing this in the .env file and updating this is the token is refreshed.

So as you mentioned I do an initial manual process to get the data and store this. Then a new endpoint to either use the existing of

[2020-03-09 18:34] muppsy007 commented on #695
Thanks @jamieisps.

So am I understanding the flow correctly here:

1. Do a manual connection in a browser as an initial one-off. Store the response containing the token, refresh token etc in a database field (sounds like you use a file instead).
2. When a website transaction is triggered, use the stored refresh token to connect and update the token, refresh token etc in your local storage.
3. In

[2020-03-09 20:05] rodjsta commented on #695
@muppsy007, your workflow steps are basically correct.

1. Do your initial connection and store the access token, refresh token, access token expiry, tenantId and connectionId
2. Whenever a user/your app wants to make a call to Xero, check that the date/time is within 30 minutes of the access token expiry. If it's not, you will need to use your refresh token to get a new access token
3. Update you

[2020-03-09 20:11] rodjsta commented on #692
@oOmischaOo you may need to specify the 'grant_type'

Here's my refresh token code below:

if ( strtotime($accessTokenExpiry) <= time() ) {

	$provider = new Xero([
		'clientId' => $_ENV['XERO_CLIENT_ID'],
		'clientSecret' => $_ENV['XERO_CLIENT_SECRET'],
    	'redirectUri' => $_ENV['XERO_REDIRECT_URL'],
	]);

	$newAccessToken = $provider->getAccessToken('refresh_token', [
		'grant_type' => 'refres

[2020-03-09 20:31] muppsy007 commented on #695
Thanks for the assist @rodjsta . Giving this a stab now.

[2020-03-09 20:38] outdoorsnz commented on #692
@rodjsta provided a better complete example.

Code to get initial token.

`$provider = new Xero([
            'clientId' => '',
            'clientSecret' => '',
            'redirectUri' => 'http://localhost/somesite/xero-auth',
        ]);
        $xeroauth_record = XeroAuth::get()->byID($this->ID);

        if (!isset($_GET['code'])) {
            // If we don't have an authorization code then

[2020-03-09 20:52] outdoorsnz commented on #695
From my understanding your initial token is good for 60 days if you keep refreshing and saving new refreshed token, but just means you need to remember the manual login to load new token before / at 60 days which is a pain if your app has long time use.

[xero-php-auth2](https://github.com/XeroAPI/xero-php-oauth2) website example function getHasExpired() use time() without strtotime which is a bug

[2020-03-10 00:22] muppsy007 commented on #695
@outdoorsnz

Are you saying that even with constant refreshing and usage, we still need to go through the manual connection step every two months?

[2020-03-10 00:53] outdoorsnz commented on #695
@muppsy007  muppsy007
Sorry still working this out also, but looks like a refresh token not used expires after 60 days. So as long as you keep refreshing, you should not need to re authorise.
https://developer.xero.com/faq/oauth2/oauth-refresh-expiry

[2020-03-10 07:01] oOmischaOo commented on #692
Thank you for the responses. Unfortunately I abandoned my efforts with this library. I was in a hurry and managed to get a solution using the xero-php-oauth2 library with persistence to DB. The grant_type flag may be the cause of my problems, I was not providing it. I will try and get some time to try it out and provide feedback

[2020-03-10 17:12] #692 closed

[2020-03-10 17:13] calcinai commented on #692
Sorry to come in late tot he party, but could it be as simple as not requesting the `offline_acces` scope?

[2020-03-10 22:48] outdoorsnz commented on #692
Also you need to clear your cache and reboot browser if you change scopes having previously logged / authorised xero.

[2020-03-13 10:08] SaxPlayer opened #697 "Create Invoice problem"
I'm sure I'm missing something obvious! I'm trying to create an invoice with this code:

[code]

This is the invoice object being created:

[code]

However the process falls over with no error and no further output at all at the line:

`$result = $apiInstance->createInvoice($xerotenantid, $invoice, $summariseerrors);`

Seems strange that there's no error being trapped. I'd appreciate any tips!

[2020-03-16 03:00] calcinai commented on #697
@SaxPlayer this is not the same library... check out [XeroAPI/xero-php-oauth2](https://github.com/XeroAPI/xero-php-oauth2)

[2020-03-16 03:00] #697 closed

[2020-03-16 16:24] SaxPlayer commented on #697
I'm so sorry. I'm a total idiot. #facepalm

[2020-03-17 04:40] Healyhatman opened #698 "Exception not thrown when creating non-Draft Invoice with incomplete LineItems"
When creating an invoice with status set to anything other than DRAFT, with incomplete line items (e.g. missing an account code, invalid tax rate), the response includes error messages but no exception is thrown.

          "ValidationErrors" => array:2 [
            0 => array:1 [
              "Message" => "Account must be valid."
            ]
            1 => array:1 [
              "Message"

[2020-03-17 05:17] Healyhatman commented on #690
I don't think this is necessary though is it? Thought tokens can be refreshed up to 60 days?

[2020-03-17 08:42] dancvrcek commented on #690
Can you elaborate, please? It would certainly make integration more resilient.

[2020-03-17 10:54] Healyhatman commented on #690
The access token lasts 30 minutes, and when it's expired you just use the
refresh token (if you've granted the offline access scope) and get a new
access token. You don't have to keep the access token alive

[2020-03-17 11:01] dancvrcek commented on #690
Did you test that? We get:

[2020-03-17 17:50] #690 closed

[2020-03-17 17:53] calcinai commented on #698
This will probably require a version bump if  we start throwing new exceptions.. Have you tested throwing them?

[2020-03-18 01:22] oytuntez commented on #418
I just encountered exactly the same issue. Without saveAll, there is no way to work around Xero API limitations.

[2020-03-18 01:32] calcinai commented on #418
@oytuntez What happens if you use the `->setDirty() `method on the ContactID field as a workaround?

The saveAll method would need a ContactID for it to associate it with being an update.  Idc that works, we can just make it add it if it exists.  Single updates doesn't require it as the endpoint itself has the ContactID

[2020-03-18 01:48] oytuntez commented on #418
I had created a patch for this as this is only a sync script for us that we hope to never run again...

Below is the diff. I am trying with `setDirty` now.

[code]

[2020-03-18 01:50] oytuntez commented on #418
`$payment->setDirty(\XeroPHP\Models\Accounting\Payment::getGUIDProperty());`

it works; so much better!

[2020-03-18 04:52] Healyhatman commented on #698
No I haven't sorry, where does that happen?

[2020-03-18 23:18] Healyhatman commented on #698
OK I've done some more testing - it throws the error as expected when using $invoice->save, but NOT when using $xero->saveAll([$invoice])

  -response_body: """
    <Response xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <Id>1f03b185-f8a2-4cca-b2e6-967b0b3dfa50</Id>
      <Status>OK</Status>
      <ProviderName>Care Master</ProviderName>

[2020-03-20 01:48] calcinai commented on #698
Yup, this is expected behaviour as it is adding the summerizeErrors flag.  saveAll can successfully save some and not others (per the Xero API), so you don't really want an exception in that case..

[2020-03-20 02:08] Healyhatman commented on #698
OK so is there a method to get the errors? $response =
$xero->saveAll($theThings);  $response->getErrors() or somesuch? I'm very
sleepy after playing Doom Eternal til 4:30am

[2020-03-20 05:38] Healyhatman opened #702 "Response elements not parsed correctly for PayrollAU\PaySlip"
This one took me a while to figure out...

When using $xero->loadByGuid(Payslip::class, $guid), only ONE EarningsLine is correctly shown in ->getTimesheetEarningsLines().

When building the request manually, the elements from $response->getResponse() also only include one earnings line. However the response_body includes all the elements.
**Example from response elements**
[code]

**Example from r

[2020-03-23 01:04] Healyhatman commented on #702
Please see https://github.com/Healyhatman/xero-php/tree/patch-14 for a proposed fix

[2020-03-24 11:04] paprikati opened #706 "loadByGuid returns random resource if $guid is null"
If a user supplies a null value for `$guid` or `$guids` for the `loadByGuid` and `loadByGuids` methods, the code pulls a page of models, and returns the first one, effectively returning a random model.
The code needs to explicitly check that this parameter is not null, before continuing.

I have a fix in a branch - if you give me permissions I can open a PR

[2020-03-24 19:44] calcinai commented on #706
@paprikati What do you propose happens if null is passed?  For BC, all I can think is throwing a `NotFoundException`?  For `loadByGuids`, that can just return an empty array.

You can make a PR as it stands, not sure what permissions you're after.

[2020-03-24 19:45] paprikati commented on #706
Weird - I was struggling to create a branch. Will try again.
Yeah the code I wrote throws a NotFoundException

[2020-03-24 19:46] #702 closed

[2020-03-25 10:29] paprikati commented on #706
I definitely can't create a branch - even in browser:
![image](https://user-images.githubusercontent.com/50166767/77527132-89ce6f00-6e83-11ea-81a8-590fbb547440.png)

can you invite me as a contributor?

[2020-03-25 10:52] edegaudenzi commented on #615
Hi Everyone,

I have exactly the same problem as FrankEBailey. Using the php-xero v2.0.1 I need to save a number of draft invoices and delete them immediately after. So far, I can see the new invoices in DRAFT, but they are not deleted.
The code is something like:

`
$XeroApp->saveAll($arrXeroInvoices);

foreach ($arrXeroInvoices as $objXeroInvoice) {
    $objXeroInvoice->setStatus(INVOICE_STATUS_

[2020-03-25 19:11] calcinai commented on #706
@paprikati You need to fork the repository and then (if you want) create a branch in your own fork.  You can then make a PR from your fork to upstream (this repo).

Have a read of [this](https://help.github.com/en/github/getting-started-with-github/fork-a-repo)

[2020-03-25 19:15] calcinai commented on #615
@edegaudenzi You've done more thorough diagnostics than 99% of the issues here, thanks!  I'm sorry that I have no idea why it's not working, assuming that what you tested int he API previewer was the XML generated from the library?

@FrankEBailey What did you do to resolve it?

[2020-03-27 07:25] otobio opened #708 "Document required scope to be able to use a model"
I think adding info about oauth2.0 scope required to use a model could go a long way in helping first time users.

[2020-03-27 11:35] edegaudenzi commented on #615
Short story long: it's now perfectly working.

@calcinai You are a star. With just your comment, you pointed me exactly on the issue!

So, the issue was:
in vendor\calcinai\xero-php\src\XeroPHP\Application.php::saveAll(), there is the following instruction: _$object_arrays[] = $object->toStringArray(true);_

That _TRUE_ is actually a $dirty_only = true, meaning that the XML will only be built on d

[2020-03-27 20:47] calcinai commented on #708
@otobio where did you have in mind?   There is a reference [here](https://github.com/calcinai/xero-php#scopes)

[2020-03-27 20:51] calcinai commented on #615
@edegaudenzi there is absolutely no reason not to do what you're suggesting.  In fact, I think it's a great solution.

[2020-03-31 19:34] #708 closed

[2020-03-31 19:34] #695 closed

[2020-03-31 19:36] calcinai commented on #689
Fixed in #682

[2020-03-31 19:36] #689 closed

[2020-03-31 23:52] onesce opened #710 "Class 'XeroPHP\Payslip\TimesheetEarningsLine' not found"
Hi Guys

Firstly thanks for the great work.

Just to make you aware of the following error after doing a composer update for version v2.0.2
`Class 'XeroPHP\Payslip\TimesheetEarningsLine' not found`

Looks like this line was added on a recent commit: [https://github.com/calcinai/xero-php/commit/3f5555eb1c18561fe302a3aa9090e30832719b02](https://github.com/calcinai/xero-php/commit/3f5555eb1c18561fe30

[2020-04-01 00:33] calcinai commented on #710
@onesce Wow, how did that happen.  I've pushed a quick fix [6c471b01](https://github.com/calcinai/xero-php/commit/6c471b01587ca95d35322301a0d3920c86a92de1)

Need better code coverage, huh?

[2020-04-01 00:33] #710 closed

[2020-04-01 00:46] Healyhatman commented on #710
That addition was for PayrollAU \ Payslip, not PayrollUS \ Paystub

[2020-04-01 00:47] calcinai commented on #710
@Healyhatman see following commit. It doesn't make a difference in this case as the strings are the same, but I fixed it for consistency.

[2020-04-01 06:49] Healyhatman opened #711 "Call to a member function getBody() on null"
I'm almost at the end of migrating to OAuth 2.0, all I need to do now is interact with the API to get things. However running ->load(model)->execute() gives me the exception in the title. It also happens if I manually build and send a Remote\Request.

This is what my manual request looks like before I try to send it
[code]

[2020-04-01 10:41] Healyhatman commented on #711
@Josh-G I think that is in fact what's happening. Had to fix some error with guzzle involving the cacert.pem file and once I disconnected and reconnected it started working properly.

[2020-04-01 12:10] Healyhatman opened #715 "Default User-Agent not right for Partner Certification"
One of the checklist points for Partner Certification is that your User-Agent includes your client access token (unless of course this has changed for OAuth 2?).

I would recommend adding a $userAgent = null to the Application -> __construct  method but wasn't sure how you'd prefer to go about it.

[2020-04-01 19:21] #711 closed

[2020-04-01 19:25] calcinai commented on #715
I don't think this is a requirement anymore... They're already going to have visibility into this.